{% extends 'bases/home.html' %}
{% load static %}
{% block content %}
<div class="content mt-3">

    <!-- cobranzas de cartera -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header" style="background-color: white;">
                <h6>Cobranzas de cartera de ayer y hoy</h6>
            </div>

            <!-- <small> -->
                <div >
                    <table id="table"  class="table table-hover table-bordered"
                    data-url="{% url 'cobranzas:cobranzasregistradas_json' desde hasta %}"
                    data-detail-formatter="detailFormatter"
                    data-id-field="id"
                    >
                    <thead>
                            <tr>
                            <th data-field="Cliente" >Cliente</th>
                            <th data-field="Registro" >Registro</th>
                            <th data-field="Operacion" >Cobranza</th>
                            <th data-field="Valor" >Valor</th>
                            <th data-field="Estado" >Estado</th>
                            <th data-field="operate" data-events="window.operateEvents"
                                data-formatter="operateFormatter" data-click-to-select="false">Acción</th>
                            </tr>
                        </thead>
                    </table>

                </div>

            <!-- </small> -->

        </div>
    </div>

    <!-- asignaciones aceptadas -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header" style="background-color: white;">
                <h6>Asignaciones aceptadas de ayer y hoy</h6>
            </div>
            <!-- <small> -->
                <div >
                    <table id="tb_asgn"  class="table table-hover table-bordered"
                    data-url="{% url 'operaciones:asignacionesregistradas_json' desde hasta %}"
                    data-detail-formatter="detailFormatter"
                    data-id-field="id"
                    >
                    <thead>
                            <tr>
                            <th data-field="Cliente" >Cliente</th>
                            <th data-field="Registro" >Registro</th>
                            <th data-field="Asignacion" >Asignación</th>
                            <th data-field="ValorNegociado" >Negociado</th>
                            <th data-field="Estado" >Estado</th>
                            <th data-field="operate" data-events="window.operateEventsAsgn"
                                data-formatter="operateFormatterAsgn" data-click-to-select="false">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            <!-- </small> -->
        </div>
    </div>

    <!-- liquidaciones de cobranzas -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header" style="background-color: white;">
                <h6>Liquidaciones de cobranzas de ayer y hoy</h6>
            </div>
            <!-- <small> -->
                <div >
                    <table id="tb_liqcob"  class="table table-hover table-bordered"
                    data-url="{% url 'cobranzas:liquidacionesregistradas_json' desde hasta %}"
                    data-detail-formatter="detailFormatter"
                    data-id-field="id"
                    >
                    <thead>
                            <tr>
                            <th data-field="Cliente" >Cliente</th>
                            <th data-field="Registro" >Registro</th>
                            <th data-field="Operacion" >Liquidación</th>
                            <th data-field="Valor" >Neto</th>
                            <th data-field="Estado" >Estado</th>
                            <th data-field="operate" data-events="window.operateEventsLiqCob"
                                data-formatter="operateFormatterLiqCob" data-click-to-select="false">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            <!-- </small> -->
        </div>
    </div>

    <!-- cobranzas de cargos -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header" style="background-color: white;">
                <h6>Cobranzas de cargos de ayer y hoy</h6>
            </div>

            <!-- <small> -->
                <div >
                    <table id="tb_cobcar"  class="table table-hover table-bordered"
                    data-url="{% url 'cobranzas:cobranzascargosregistradas_json' desde hasta %}"
                    data-detail-formatter="detailFormatter"
                    data-id-field="id"
                    >
                    <thead>
                            <tr>
                            <th data-field="Cliente" >Cliente</th>
                            <th data-field="Registro" >Registro</th>
                            <th data-field="Operacion" >Cobranza</th>
                            <th data-field="Valor" >Valor</th>
                            <th data-field="Estado" >Estado</th>
                            <th data-field="operate" data-events="window.operateEventsCobCar"
                                data-formatter="operateFormatterCobCar" data-click-to-select="false">Acción</th>
                            </tr>
                        </thead>
                    </table>

                </div>

            <!-- </small> -->

        </div>
    </div>



</div>

{% endblock %}
{% block js_page %}
<!-- Chart js -->
<!-- <script src="{% static 'factorweb/vendors/chart.js/dist/Chart.bundle.min.js' %}"></script> -->
<script src="{% static 'factorweb/assets/js/widgets.js' %}"></script>
<script>
    var $table = jQuery('#table')
    var $tb_asgn = jQuery('#tb_asgn')
    var $tb_liqcob = jQuery('#tb_liqcob')
    var $tb_cobcar = jQuery('#tb_cobcar')

    window.onload=function(){

    // configuracin de las tablas
    $table.bootstrapTable({locale:"es-EC"});
    $tb_asgn.bootstrapTable({locale:"es-EC"});
    $tb_liqcob.bootstrapTable({locale:"es-EC"});
    $tb_cobcar.bootstrapTable({locale:"es-EC"});

    }

    window.operateEvents = {
    'click .revertir': function (e, value, row, index) {
        ReversarCobranza(row.id, row.TipoOperacion, row.Cliente)
    },
    'click .imprimir': function (e, value, row, index) {
        ImprimirCobranza( row.id, row.TipoOperacion)
    },
    'click .editar': function (e, value, row, index) {
        ModificarCobranza( row.id, row.TipoOperacion, row.Contabilizada)
    },
    };

    function operateFormatter(value, row, index) {
    return [
    '<a class="revertir" href="javascript:void(0)" title="Reverso de cobranza">',
    '<i class="fa fa-rotate-left"></i>',
    '</a>  ',
    '<a class="imprimir" href="javascript:void(0)" title="Imprimir cobranza">',
    '<i class="fa fa-print"></i>',
    '</a>  ',
    ].join('')
    }

    window.operateEventsAsgn = {
    // 'click .revertir': function (e, value, row, index) {
    //     ReversarAceptacionAsignacion(row.id,row.Asignacion )
    // },
    'click .imprimir': function (e, value, row, index) {
        ImprimirAsignacion( row.id, )
    },
    };

    function operateFormatterAsgn(value, row, index) {
    return [
    // '<a class="revertir" href="javascript:void(0)" title="Reverso de asignación">',
    // '<i class="fa fa-rotate-left"></i>',
    // '</a>  ',
    '<a class="imprimir" href="javascript:void(0)" title="Imprimir asignación">',
    '<i class="fa fa-print"></i>',
    '</a>  ',
    ].join('')
    }

    window.operateEventsLiqCob = {
    'click .revertir': function (e, value, row, index) {
        ReversarliquidacionCobranza(row.id, )
    },
    'click .imprimir': function (e, value, row, index) {
        ImprimirLiquidacionCobranza( row.id, )
    },
    };

    function operateFormatterLiqCob(value, row, index) {
    return [
    '<a class="revertir" href="javascript:void(0)" title="Reverso de liquidación">',
    '<i class="fa fa-rotate-left"></i>',
    '</a>  ',
    '<a class="imprimir" href="javascript:void(0)" title="Imprimir liquidación">',
    '<i class="fa fa-print"></i>',
    '</a>  ',
    ].join('')
    }

    window.operateEventsCobCar = {
    'click .revertir': function (e, value, row, index) {
        ReversarCobranza(row.id, row.TipoOperacion, row.Cliente)
    },
    'click .imprimir': function (e, value, row, index) {
        ImprimirCobranzaCargos( row.id, )
    },
    };

    function operateFormatterCobCar(value, row, index) {
    return [
    '<a class="revertir" href="javascript:void(0)" title="Reverso de cobranza">',
    '<i class="fa fa-rotate-left"></i>',
    '</a>  ',
    '<a class="imprimir" href="javascript:void(0)" title="Imprimir cobranza">',
    '<i class="fa fa-print"></i>',
    '</a>  ',
    ].join('')
    }
    
</script>    
{% endblock %}
