{% extends 'factorweb/index.html' %}
<!-- {% load static %} -->
{% block header %}
        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left">
                        <i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger">
                            <i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit">
                                    <i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        {% if solicitudes_pendientes > 0 %}
                        <div class="dropdown for-notification">
                            <a href="{% url 'solicitudes:listasolicitudes' %}" 
                            class="btn btn-secondary dropdown-toggle" 
                            type="button" id="notification" 
                            aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger" id="solicitudes_pendientes">
                                    {{solicitudes_pendientes}}
                                </span>
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div> -->
                        </div>
                        {% endif %}
                        <!-- <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{% static 'factorweb/images/avatar/1.jpg' %}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{% static 'factorweb/images/avatar/2.jpg' %}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{% static 'factorweb/images/avatar/3.jpg' %}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="{% static 'factorweb/images/avatar/4.jpg' %}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right" style="margin-left: 15px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" title="Ayuda">
                            <!-- <img class="user-avatar rounded-circle" src="{% static 'factorweb/images/admin.png' %}" alt="User Avatar"> -->
                            <i class="fa fa-question-circle"></i>
                        </a>
                        <div class="user-menu dropdown-menu" >
                            
                            <a class="nav-link" href="https://codigobambu.com/base-de-conocimientos/" target="ayuda-margarita">
                                <i class="fa fa-external-link"></i> Base de conocmientos</a>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Usuario">
                            <!-- <img class="user-avatar rounded-circle" src="{% static 'factorweb/images/admin.png' %}" alt="User Avatar"> -->
                            {{ user.username}}
                        </a>

                        <div class="user-menu dropdown-menu">

                            <!-- <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>
                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a> -->

                            <a class="nav-link" href="{% url 'bases:usuario_editar' user.id %}"><i class="fa fa-edit"></i> Editar</a>
                            <a class="nav-link" href="{% url 'bases:usuario_password' user.id %}"><i class="fa fa-key"></i> Password</a>
                            <a class="nav-link" href="{% url 'bases:home' %}"><i class="fa fa-home"></i> Home</a>
                            <a class="nav-link" href="#" onclick="logingoogle()"><i class="fa fa-google"></i> cuenta Google</a>
                            <form method="POST" action="{% url 'bases:logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; cursor: pointer;">
                                    <i class="fa fa-power-off"></i> Logout
                                </button>
                            </form>
                        </div>
                    </div>

                    <!-- <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </header><!-- /header -->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{user.usuario_empresa.get.empresa.ctnombre|default:'Nombre de empresa'}}</h1>
                        <input hidden id="empresa_id" name="empresa_id" 
                            value="{{user.usuario_empresa.get.empresa.id}}">
                    </div>
                </div>
            </div>
        {% block breadcrumbs %}
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Home</li>
                        </ol>
                    </div>
                </div>
            </div>
        {% endblock breadcrumbs %}
        </div>

{% endblock %}

{% block content %}
        {% block alerta %}
            {% if user.usuario_empresa.get.empresa.lbloqueada %}
            <div class="col-sm-12">
                <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-danger">Estado bloqueado</span>
                        Sistema bloqueado, algunas opciones no serán posibles de ejecutar.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% else %}
                {% if not user.usuario_empresa.get.empresa.ctnombre %}
                <div class="col-sm-12">
                    <div class="alert  alert-warning alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-warning">Configuración inicial</span>
                            Registre el nombre de la compañía.
                            Use <a href="{% url 'empresa:datosempresa' user.usuario_empresa.get.empresa.id %}"
                             class="alert-link">este link</a> para registrar datos de la empresa.                            
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}
                {% if not user.usuario_empresa.get.empresa.ltipofactoringconfigurado %}
                <div class="col-sm-12">
                    <div class="alert  alert-warning alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-warning">Configuración inicial</span>
                            Registre el tipo de factoring.
                            Use <a href="{% url 'empresa:tipofactoring_nuevo' %}"
                             class="alert-link">este link</a> para registrar la forma cómo manejar el factoring.                            
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}
                {% if not user.usuario_empresa.get.empresa.ltasasfactoringconfiguradas %}
                <div class="col-sm-12">
                    <div class="alert  alert-warning alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-warning">Configuración inicial</span>
                            Configure la forma de calcular los cargos por los servicios de factoring.
                            Use <a href="{% url 'empresa:listatasasfactoring' %}"
                             class="alert-link">este link</a> para ver la lista de tasas y editarlas.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}
                {% if user.usuario_empresa.get.empresa.lgratis %}
                <div class="col-sm-12">
                    <div class="alert  alert-info alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-info">Período de prueba</span>
                        {% if user.usuario_empresa.get.empresa.dfinpruebas %}
                            El período termina el {{user.usuario_empresa.get.empresa.dfinpruebas }}.
                        {% else %}
                            Tendrá 30 días para probar el sistema a partir de la primera solicitud.
                            Use <a href="{% url 'solicitudes:listasolicitudes' %} "
                             class="alert-link">este link</a> y en el menú de la forma que se mostrará, seleccione Nuevo solicitante y Nueva solicitud de facturas.
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endblock alerta %}
        {% if detalle_version.count > 0 %}  
        <div class="card bg-flat-color-0">
            <div class="card-header">
                Versión: 
                <strong>V.{{ version }}</strong>
                {{version.ctdescripcion}}
            </div>
            <div class="card-body">
                {% for item in detalle_version %}
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">{{item.ctmejora}}</h4>
                    <p>{{item.ctdescripcion}}</p>
                    <hr>
                    <p class="mb-0">Ubicación: 
                        <a href="{{ item.ctenlace }}" class="alert-link">
                            {{ item.ctopcionmenu }}
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>  
        </div>
        {% endif %}
{% endblock %}