{% load filtros %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comprobante de egreso</title>

    <style type="text/css">
        @page {
            size: A4;
            margin: 0cm;
            size:  portrait;
        }
        .table thead th {
                vertical-align:  top ;
                border-bottom: 1px solid #000;
        }
        .table td.numero{
            text-align: right;
        }
        .table td.centrado{
            text-align: center;
        }
        .alerta { 
        font-family: sans-serif; 
        font-size: 11px; 
        font-weight: 400; 
        color: #eb1111; 
        }        
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table class="table" style="width:100%">
                    <tbody>
                        <tr>
                            <td colspan="2"><h4>{{ empresa.ctnombre|default:'Nombre de empresa' }}</h4></td>
                            <td class="centrado" colspan="2"><h3>COMPROBANTE DE EGRESO </h3></td>
                            <td style="text-align: right;">Impresión: {% now "Y-m-d" %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="list-group">
                <table >
                    <tbody>
                        <tr>
                            <td style="width: 15%; "><strong>Diario:</strong></td>
                            <td style="width: 40%; ">{{ diario.cxtransaccion }}</td>
                            <td style="width: 15%; "><strong>Fecha:</strong></td>
                            <td style="width: 30%; ">{{ diario.dcontabilizado|custom_date_format }}</td>
                        </tr>
                        <tr>
                            <td style="width: 15%; "><strong>Recibido por:</strong></td>
                            <td style="width: 40%; ">{{ diario.asiento_egreso.cxbeneficiario }} -
                                {{ diario.asiento_egreso.ctrecibidopor }}</td>
                            <td style="width: 15%; "><strong>Forma de pago:</strong></td>
                            <td style="width: 30%; ">{{ diario.asiento_egreso.cxformapago }}</td>
                        </tr>
                        {% if diario.asiento_egreso.cxformapago != 'EFE' %}
                        <tr>
                            <td style="width: 15%; "><strong>Pagado con:</strong></td>
                            <td style="width: 40%; "> {{ diario.asiento_egreso.cxcuentapago }} 
                                {% if diario.asiento_egreso.cxformapago == 'CHE' %}
                                    CH/{{diario.asiento_egreso.ctcheque }}
                                {% endif %}
                            </td>
                            {% endif %}
                            {% if diario.asiento_egreso.cxformapago == 'TRA' %}                            
                            <td style="width: 15%; "><strong>Transferencia a:</strong></td>
                            <td style="width: 30%; ">{{ diario.asiento_egreso.cxcuentadestino }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td style="width: 15%; "><strong>Concepto:</strong></td>
                            <td style="width: 40%; ">{{ diario.ctconcepto }}</td>
                            <td style="width: 15%; "><strong>Total:</strong></td>
                            <td style="width: 30%; ">{{ diario.asiento_egreso.nvalor.nvalor }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>                       

            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover nowrap" style="width:100%">
                        <thead>
                            <th>Cuenta</th>        
                            <th>Referencia</th>
                            <th>Debe</th>
                            <th>Haber</th>                            
                        </thead>
                        <tbody>
                            <tr></tr>
                            {% for item in detalle %}
                            <tr>
                                <td width="60%">{{ item.cxcuenta }}</td>
                                <td>{{ item.ctreferencia }}</td>
                                {% if item.cxtipo == 'D' %}
                                <td class="numero">{{ item.nvalor|intcomma }}</td>
                                {% else %}
                                <td class="numero"></td>
                                {% endif %}
                                {% if item.cxtipo == 'H' %}
                                <td class="numero">{{ item.nvalor|intcomma }}</td>
                                {% else %}
                                <td class="numero"></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- totales -->
                            <tr></tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="numero"><h4>{{ totales.debe|intcomma }}</h4></td>
                                <td class="numero"><h4>{{ totales.haber|intcomma }}</h4></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row ">
                <table class="table table-striped table-hover nowrap" style="width:100%">
                    <tbody>
                    <tr>
                        <td><strong>Realizado por: </strong>{{diario.cxusuariocrea}}</td>
                        <td><strong>Revisado por:</strong></td>
                        <td><strong>Recibido por:</strong></td>
                        {% if diario.cxestado == 'E' %}
                        <td class="alerta"><strong>Reversada</strong></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            </div>

        </div>
        {% if empresa.lgratis %}
        <footer class="footer">
            <p>SAAS Margarita desarrollado por Código Bambú</p>
        </footer>
        {% endif %}
</div>

</body>
</html>