{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">contabilidad</a></li>
                    <li><a href="#">reportes</a></li>
                    <li class="active">balance general</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-body">
            <div class="row form-group " id="filtro_por_vencer" >
                <div class="col-md-2">
                    <label for="fechacorte">Perìodo:</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="añocorte"  
                    id="añocorte" placeholder="Ingrese año" 
                    aria-label="Ingrese fecha de corte" value="{{ año }}">
                </div>
                <!-- lista de meses ? -->
                <div class="col-md-2">
                    <select name="mes" id="cmb_mes" class="form-control" >
                        <option value="01" {% if mes == 1 %} selected {% endif %}>Enero</option>
                        <option value="02" {% if mes == 2 %} selected {% endif %}>Febrero</option>
                        <option value="03" {% if mes == 3 %} selected {% endif %}>Marzo</option>
                        <option value="04" {% if mes == 4 %} selected {% endif %}>Abril</option>
                        <option value="05" {% if mes == 5 %} selected {% endif %}>Mayo</option>
                        <option value="06" {% if mes == 6 %} selected {% endif %}>Junio</option>
                        <option value="07" {% if mes == 7 %} selected {% endif %}>Julio</option>
                        <option value="08" {% if mes == 8 %} selected {% endif %}>Agosto</option>
                        <option value="09" {% if mes == 9 %} selected {% endif %}>Septiembre</option>
                        <option value="10" {% if mes == 10 %} selected {% endif %}>Octubre</option>
                        <option value="11" {% if mes == 11 %} selected {% endif %}>Noviembre</option>
                        <option value="12" {% if mes == 12 %} selected {% endif %}>Diciembre</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-success btn-sm"  role="button" 
                        id="btnConsultar">  
                        <i class="fa fa-print"></i> Consultar
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-sm"  role="button" 
                        id="btnBloquear">  
                        <i class="fa fa-lock"></i> Bloquear
                    </button>
                </div>
            </div>

        </div>

    </div>
 

{% endblock %}

{% block js_page %}
<script type="text/javascript" src="{% static 'factorweb/js/consultabalancegeneral.js' %}">
</script>

{% endblock %}
