{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">contabilidad</a></li>
                    <li><a href="#">procesos</a></li>
                    <li><a href="{% url 'contabilidad:listadesembolsospendientes' %}">generar egresos</a></li>
                    <li class="active">{{operacion}}</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}

<form  method="post" id="frmGenera" enctype="multipart/form-data" class="form-horizontal">
    <!-- <div class="col-lg-6"> -->
        <div class="card">
            {% csrf_token %}
            <div class="card-header">
                <strong>Generar comprobante de egreso</strong> 
            </div>
            <div hidden>
                <input id="forma_pago" value="{{forma_pago}}">
                <input id="id_desembolso" value="{{id_desembolso}}">
                <input id="id_factura" value="{{id_factura}}">
            </div>
            <div class="card-body card-block">
                <!-- columna izquierda -->
                <div class="col-lg-6">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_puntoemision" class=" form-control-label">
                               {{form.cxbeneficiario.label}}</label></div>
                        <div class="col-md-8">{{form.cxbeneficiario}}</div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_cxnumerofactura" class=" form-control-label">
                               {{form.ctrecibidopor.label}}</label></div>
                        <div class="col-md-8">{{form.ctrecibidopor}}</div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_demision" class=" form-control-label">
                               {{form.demision.label}}</label></div>
                        <div class="col-md-8">{{form.demision}}</div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_ctconcepto" class=" form-control-label">
                               Concepto de diario</label></div>
                        <div class="col-md-8">
                            <textarea type="text" class="form-control" 
                            required id="concepto" rows="3" name="concepto">{{concepto}}
                            </textarea>
                        </div>
                    </div>

                    {% if forma_pago != 'EFE' %}
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_nvalor" class=" form-control-label">
                               {{form.cxcuentapago.label}}</label></div>
                        <div class="col-md-8">{{form.cxcuentapago}}</div>
                    </div>
                    {% endif %}
                    {% if forma_pago == 'CHE' %}
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_nvalor" class=" form-control-label">
                               {{form.ctcheque.label}}</label></div>
                        <div class="col-md-8">{{form.ctcheque}}</div>
                    </div>
                    {% endif %}
                    {% if forma_pago == 'TRA' %}
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_nvalor" class=" form-control-label">
                               {{form.cxcuentadestino.label}}</label></div>
                        <div class="col-md-8">{{form.cxcuentadestino}}</div>
                    </div>
                    {% endif %}
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="id_nvalor" class=" form-control-label">
                               {{form.nvalor.label}}</label></div>
                        <div class="col-md-8">{{form.nvalor}}</div>
                    </div>


                </div>
                <div class="col-lg-6">
                    {% if forma_pago == 'TRA' %}
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            Para registrar nuevas cuentas bancarias del cliente use <a href="{% url 'clientes:listacuentasbancarias' %}"
                             class="alert-link">este link</a>.
                        </div>
                    </div>
                    {% endif %}
    
                </div>  
            </div>    
            
            <div class="card-footer">
                <a href="{% url 'contabilidad:listadesembolsospendientes' %}" 
                class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Cancelar
                </a>
                <button type="button" onclick="GenerarEgreso()" 
                class="btn btn-primary btn-sm ">
                    <i class="fa fa-dot-circle-o"></i> Aceptar
                </button>
            </div>
        </div>
    <!-- </div> -->
</form>
{% endblock %}
{% block js_page %}
<script type="text/javascript" 
    src="{% static 'factorweb/js/datosgeneraegreso.js' %}">
</script>
{% endblock %}
