{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diario</title>

    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            size:  portrait;
        }
        .table thead th {
                vertical-align:  top ;
                border-bottom: 1px solid #000;
        }
        .table td.numero{
            text-align: right;
        }
        .table td.centrado{
            text-align: center;
        }
        .alerta { 
        font-family: sans-serif; 
        font-size: 11px; 
        font-weight: 400; 
        color: #eb1111; 
        }        
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table >
                    <tbody>
                        <tr>
                            <td colspan="2"><h2>{{ empresa }}</h2></td>
                            <td></td>
                            <td colspan="2"><h1>Diario contable</h1></td>
                            <td></td>
                            <td>Impresión: {% now "Y-m-d" %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="list-group">
                <table >
                    <tbody>
                        <tr>
                            <td><h4>Diario:</h4></td>
                            <td colspan="3">{{ diario.cxtransaccion }}</td>
                            <td><h4>Fecha :</h4></td>
                            <td>{{ diario.dcontabilizado|date:"Y/m/d" }}</td>
                        </tr>
                        <tr>
                            <td><h4>Concepto:</h4></td>
                            <td colspan="3">{{ diario.ctconcepto }}</td>
                            <td><h4>Total:</h4></td>
                            <td>{{ diario.nvalor}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>                       

            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover nowrap" style="width:100%">
                        <thead>
                            <th>Cuenta</th>        
                            <th>Referencia</th>
                            <th>Debe</th>
                            <th>Haber</th>                            
                        </thead>
                        <tbody>
                            <tr></tr>
                            {% for item in detalle %}
                            <tr>
                                <td width="60%">{{ item.cxcuenta }}</td>
                                <td>{{ item.ctreferencia }}</td>
                                {% if item.cxtipo == 'D' %}
                                <td class="numero">{{ item.nvalor }}</td>
                                {% else %}
                                <td class="numero"></td>
                                {% endif %}
                                {% if item.cxtipo == 'H' %}
                                <td class="numero">{{ item.nvalor }}</td>
                                {% else %}
                                <td class="numero"></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <!-- totales -->
                            <tr></tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="numero"><h4>{{ totales.debe }}</h4></td>
                                <td class="numero"><h4>{{ totales.haber }}</h4></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <table >
                <tbody>
                    <tr></tr>
                    <tr>
                        {% if diario.cxestado == 'E' %}
                            <td class="alerta"><h4>Reversada</h4></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><h4>Realizado por:</h4></td>
                        <td colspan="5">{{diario.cxusuariocrea}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
        {% if empresa.lgratis %}
        <footer class="footer">
            <p>SAAS Margarita desarrollado por Código Bambú</p>
        </footer>
        {% endif %}
</div>

</body>
</html>