{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">contabilidad</a></li>
                    <li><a href="#">asientos</a></li>
                    <li class="active">registro de asientos</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle " type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="{% url 'contabilidad:asientodiario_nuevo' %}">Nuevo diario</a>
                        <a class="dropdown-item" href="{% url 'contabilidad:comprobanteegreso_nuevo' %}">Nuevo egreso</a>
                        <!-- <a class="dropdown-item" href="#">Imprimir</a> -->
                    </div>
                </div>
            </div>
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }} encontrados</span>
            </h4>

        </div>
        <div class="card-body">

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay asientos registrados entre ayer y hoy
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-hover table-bordered" 
       id="bootstrap-data-table-export"
       data-search="true"
       data-show-columns="true"
       data-show-export="true"
       data-show-refresh="true"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[10, 25, 50, 100, all]"
       data-locale="es-EC">
    <thead>
        <tr>
            <th data-field="campo1" data-sortable="true">Id</th>
            <th data-field="campo2" data-sortable="true">Registro</th>
            <th data-field="campo3" data-sortable="true">Asiento</th>
            <th data-field="campo4" data-sortable="true">Contabilizado</th>
            <th data-field="campo5" data-sortable="true">Concepto</th>
            <th data-field="campo6" data-sortable="true">Valor</th>
            <th data-field="campo7" data-sortable="true">Estado</th>
            <th data-field="campo8" data-sortable="false">Acciones</th>
        </tr>
    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <!-- <td>{{ item.id }}</td> -->
                            <td data-order="{{item.dregistro |date:'yyy-MM-dd H:i'}}">{{ item.dregistro|date:"Y-m-d H:m:s" }}</td>
                            <td>{{ item.cxtransaccion }}</td>
                            <td>{{ item.dcontabilizado|date:"Y-m-d" }}</td>
                            <td>{{ item.ctconcepto }}</td>
                            <td>{{ item.nvalor}}</td>
                            <td>{{ item.cxestado}}</td>
                            <td>
                                {% if not item.mes_cerrado and item.cxestado != "E" %} 
                                <a 
                                {% if item.asiento_egreso %}
                                    href="{% url 'contabilidad:comprobanteegreso_editar' item.id %}"
                                {% else %}
                                    href="{% url 'contabilidad:asientodiario_editar' item.id %}" 
                                {% endif %}
                                    class="btn  btn-sm" role="button" title="Editar"
                                    >
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% endif %}
                                <a 
                                {% if item.asiento_egreso %}
                                    href="{% url 'contabilidad:imprimircomprobanteegreso' item.id %}" target="{{item.cxtransaccion}}"
                                {% else %}
                                    href="{% url 'contabilidad:imprimirdiariocontable' item.id %}" target="{{item.cxtransaccion}}"
                                {% endif %}
                                    class="btn  btn-sm" role="button" title="Imprimir"><i class="fa fa-print"></i>
                                </a>
                                <button href="#" onclick='ReversarAsientoDiario({{item.id}},"{{item.cxtransaccion}}")' title="Eliminar"
                                    {% if item.cxestado == "E" or item.mes_cerrado %} disabled {% endif %}
                                    class="btn  btn-sm" role="button"><i class="fa fa-rotate-left"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

{% block js_page %}
<script type="text/javascript" 
    src="{% static 'factorweb/js/listasolicitudes.js' %}">
</script>
{% endblock %}
