{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">contabilidad</a></li>
                    <li><a href="#">cuentas</a></li>
                    <li><a href="{% url 'contabilidad:listacuentasprovisiones' %}">provisiones por tasa</a></li>
                    <li class="active">{{nombre_tasa}}</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <div class="d-flex justify-content-between align-items-center ">
                <h4 class="mb-0">
                    <span class="count">{{ consulta.count }} encontrado{% if consulta.count != 1 %}s{% endif %}</span>
                </h4>
                <a href="{% url 'contabilidad:listacuentasprovisiones' %}" 
                    class="btn  btn-sm">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay tipos de factoring registrados.
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-hover table-bordered" id="bootstrap-data-table-export">
                    <thead>
                        <th>Id</th>
                        <th>Tipo de factoring</th>
                        <th>Cuenta contable</th>
                        <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.cttipofactoring }}</td>
                            <td>{{ item.cuentaprovision_tasatipofactoring__cuenta__ctcuenta }}</td>
                            <td>
                                <button class="btn  btn-sm"  title="Editar"
                                    {% if item.cuentaprovision_tasatipofactoring__cuentaprovision__ctcuenta != None %}
                                        onclick="return AbrirModal(
                                            '{% url 'contabilidad:cuentaprovisiontasatipofactoring_editar' item.cttipofactoring item.id nombre_tasa id_tasa item.cuentaprovision_tasatipofactoring %}')"
                                    {% else %}
                                        onclick="return AbrirModal(
                                            '{% url 'contabilidad:cuentaprovisiontasatipofactoring_nueva' item.cttipofactoring item.id nombre_tasa id_tasa %}')"
                                    {% endif %}
                                    role="button">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <!-- <a href="#" class="btn btn-danger btn-sm" role="button"><i class="fa fa-exclamation"></i></a> -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

