{% extends 'bases/home.html' %}
{% block content %}

<form  method="post"  class="form-horizontal">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong>Ficha general</strong> 
                de {% if cliente %} cliente {{ cliente }} {% else %}  nuevo cliente {% endif %} 
            </div>
                {% csrf_token %}
            <div class="card-body card-block">
                {# {{ form.as_p }}  #}

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_cxtipoid" class=" form-control-label">Tipo de identificación</label></div>
                    <div class="col-12 col-md-9">
                        {{ form.cxtipoid}}
                    </div>
                </div>  

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_cxparticipante" class=" form-control-label">Identificación</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="id_cxparticipante" name="cxparticipante" value="{{ cliente.cxparticipante }}"
                        placeholder="Identificación" class="form-control"><small class="form-text text-muted">Máximo 13 caracteres</small></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_ctnombre" class=" form-control-label">Nombre de cliente</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="id_ctnombre" name="ctnombre" value="{{ cliente.ctnombre}}"
                        placeholder="Nombre de clente" class="form-control"><small class="form-text text-muted">Máximo 100 caracteres</small></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_cxlocalidad" class=" form-control-label">Localidad</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="id_cxlocalidad" name="cxlocalidad" value="{{cliente.cxlocalidad}}"
                        placeholder="Código de localidad" class="form-control"><small class="form-text text-muted">Máximo 4 caracteres</small></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_ctdireccion" class=" form-control-label">Dirección de cliente</label></div>
                    <div class="col-12 col-md-9"><textarea name="ctdireccion" id="id_ctdireccion" rows="4" 
                        placeholder="Dirección completa incluyendo la ciudad" class="form-control">{{cliente.ctdireccion}}</textarea></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_cttelefono1" class=" form-control-label">Teléfono principal</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="id_cttelefono1" name="cttelefono1" value="{{cliente.cttelefono1}}"
                        placeholder="Teléfono convencional" class="form-control"><small class="form-text text-muted">Máximo 30 caracteres. Incluya el área</small></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_cttelefono2" class=" form-control-label">Teléfono secundario</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="id_cttelefono2" name="cttelefono2" value="{{cliente.cttelefono2}}"
                        placeholder="Teléfono convencional" class="form-control"><small class="form-text text-muted">Máximo 30 caracteres. Incluya el área</small></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_ctcelular" class=" form-control-label">Teléfono movil</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="id_ctcelular" name="ctcelular" value="{{cliente.ctcelular}}"
                        placeholder="Movil" class="form-control"><small class="form-text text-muted">Máximo 30 caracteres. Incluya el código de país</small></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_ctemail" class=" form-control-label">Email principal</label></div>
                    <div class="col-12 col-md-9"><input type="email" id="id_ctemail" name="ctemail" value="{{cliente.ctemail}}"
                        placeholder="Ingrese el Email principal" class="form-control"><small class="help-block form-text">Ingrese el email principal</small></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_ctemail2" class=" form-control-label">Email secundario</label></div>
                    <div class="col-12 col-md-9"><input type="email" id="id_ctemail2" name="ctemail" value="{{cliente.ctemail2}}"
                        placeholder="Enter Email" class="form-control"><small class="help-block form-text">Ingrese el email secundario</small></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="id_ctgirocomercial" class=" form-control-label">Giro comercial</label></div>
                    <div class="col-12 col-md-9"><textarea name="ctgirocomercial" id="id_ctgirocomercial" rows="4"
                        placeholder="Giro comercial" class="form-control"> {{cliente.ctgirocomercial}}</textarea></div>
                </div> 
            </div>    

            <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="fa fa-dot-circle-o"></span> Grabar
                    </button>
                    <a href="{% url 'clientes:fichageneral' %}" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js_page %}{% endblock %}
