{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Participantes</a></li>
                    <li><a href="#">Deudores</a></li>
                    <li><a href="{% url 'clientes:listacuentasbancarias_deudores' %}">Cuentas bancarias</a></li>
                    <li class="active">editar</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
<form  method="post" id="frmSolicitud" enctype="multipart/form-data" class="form-horizontal" name="form"    >
    <!-- columna izquierda -->
    <div class="col-lg-6">

        <div class="card">
            {% csrf_token %}
            <div class="card-header">
                <strong>Detalle de cuenta</strong> 
            </div>
            <div class="card-body">
            <!-- datos de factura texto y fecha -->
            <!-- <div class="col-md-6"> -->
                <div class="row form-group">
                    <div class="col col-md-4"><label for="id_cxtipocliente" 
                        class=" form-control-label">
                        Deudor</label></div>
                    <div class="col-8 col-md-8">
                            {{ form.cxparticipante}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-4"><label for="id_cxtipocliente" 
                        class=" form-control-label">
                        {{ form.cxbanco.label}}</label></div>
                    <div class="col-8 col-md-8">
                        {{ form.cxbanco}}
                    </div>
                </div>  
                <div class="row form-group">
                    <div class="col col-md-4"><label for="id_cxtipocliente" 
                        class=" form-control-label">
                        {{ form.cxtipocuenta.label}}</label></div>
                    <div class="col-8 col-md-8">
                        {{ form.cxtipocuenta}}
                    </div>
                </div>  
                <div class="row form-group">
                    <div class="col col-md-4"><label for="id_cxtipocliente" 
                        class=" form-control-label">
                        {{ form.cxcuenta.label}}</label></div>
                    <div class="col-8 col-md-8">
                        {{ form.cxcuenta}}
                    </div>
                </div>  
                <div class="row form-group">
                    <div class="col col-md-4"><label for="id_cxtipocliente" 
                        class=" form-control-label">
                        {{ form.lpropia.label}}</label>
                    </div>
                    <div class="col-md-8 ">
                        <label class="switch switch-3d switch-success mr-3">
                            <input type="checkbox" class="switch-input" 
                            {% if  consulta.lpropia %} checked {% endif %} 
                            id = "id_lpropia" name = "lpropia"> 
                            <span class="switch-label"></span> 
                            <span class="switch-handle"></span>
                        </label>
                    </div>
            </div>  
                <div class="row form-group">
                    <div class="col col-md-4"><label for="id_cxtipocliente" 
                        class=" form-control-label">
                        {{ form.lactiva.label}}</label>
                    </div>
                    <div class="col-md-8 ">
                        <label class="switch switch-3d switch-success mr-3">
                            <input type="checkbox" class="switch-input" 
                            {% if  consulta.lactiva %} checked {% endif %} 
                            id = "id_lactiva" name = "lactiva"> 
                            <span class="switch-label"></span> 
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>  
        <!-- </div> -->
            </div>
            <div class="card-footer">
                <a href="{% url 'clientes:listacuentasbancarias_deudores' %}" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Cancelar
                </a>
            <button type="submit" class="btn btn-primary btn-sm ">
                    <i class="fa fa-dot-circle-o"></i> Grabar
                </button>

            </div>
        </div>
    </div>
</form>
{% endblock %}