{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Participantes</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Cuentas bancarias</a></li>
                    <li class="active">editar</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}

<form  method="post" id="frmCuentasBancarias" enctype="multipart/form-data" 
    class="form-horizontal">
    <!-- <div class="col-lg-6"> -->
    <div class="card">
            {% csrf_token %}
        <div class="card-header">
            <strong>Cuentas bancarias</strong> de {{cliente}}
        </div>
        <div class="card-body card-block">
            <div class="row form-group"hidden>
                    <input type="text" id="id_cxparticipante" 
                    name="cxparticipante" value="{{ cliente.cxcliente.cxparticipante }}" 
                    class="form-control" >
            </div>
            <!-- parte inferior -->
                <small>
            <div class="row">

                <div class="col col-xs-12">
                        
                    <table id="table"                      
                        data-show-columns-toggle-all="true"
                        data-show-export="true"
                        data-detail-formatter="detailFormatter"
                        data-minimum-count-columns="2"
                        data-pagination="true"
                        data-id-field="id"
                        data-page-list="[10, 50, all]"
                        data-show-footer="true"
                        data-side-pagination="server"
                        data-url="{% url 'clientes:detallecuentasbancariascliente' cliente.cxcliente.cxparticipante %}"
                        >
                    </table>

                </div>

            </div>
                </small>
        </div>    
        <div class="card-footer">
            <div class="row form-group">
                <div class="col-md-6">
                    <a href="{% url 'clientes:listacuentasbancarias' %}" 
                    class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                    <button class="btn btn-success btn-sm"  role="button"
                        onclick="return AbrirModal(
                            '{% url 'clientes:cuentabancaria_nueva' cliente.cxcliente.cxparticipante %}')"
                        >  
                        <i class="fa fa-plus-circle"></i> Agregar cuenta
                    </button>

                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->
</form>
{% endblock %}
{% block js_page %}
<script type="text/javascript" src="{% static 'factorweb/js/listacuentasbancariascliente.js' %}"></script>
{% endblock %}
