{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Participantes</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="{% url 'operaciones:listadatosoperativos' %}">Datos operativos</a></li>
                    <li class="active">{{cliente}}</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-body">
            <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle " type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="#">Imprimir</a>
                    </div>
                </div>
            </div>
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }}</span>
            </h4>

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay historico registrado.
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                    <thead>
                        <th>Fecha</th>
                        <th>Clase</th>
                        <th>% anticipo</th>
                        <th>Tasa GAO</th>
                        <th>Tasa de descuento </th>
                        <th>Tasa de GAO adicional </th>
                        <th>Beneficiario asignación </th>
                        <th>Beneficiario cobranza </th>
                        <th>Estado</th>
                    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item.dregistro }}</td>
                            <td>{{ item.cxclase }}</td>
                            <td>{{ item.nporcentajeanticipo }}</td>
                            <td>{{ item.ntasacomision }}</td>
                            <td>{{ item.ntasadescuentocartera }}</td>
                            <td>{{ item.ntasagaoa }}</td>
                            <td>{{ item.ctbeneficiarioasignacion }}</td>
                            <td>{{ item.ctbeneficiariocobranzas }}</td>
                            <td>{{ item.estado}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>
        <div class="card-footer">
            <a href="{% url 'operaciones:listadatosoperativos' %}" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Salir
            </a>

        </div>

    </div>
 

{% endblock %}

