{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Participantes</a></li>
                    <li><a href="#">Deudores</a></li>
                    <li class="active">Ficha general</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle " type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="{% url 'clientes:comprador_nuevo' %}">Nuevo</a>
                        <!-- <a class="dropdown-item" href="#">Imprimir</a> -->
                    </div>
                </div>
            </div>
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }} encontrados</span>
            </h4>

        </div>
        <div class="card-body">

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay deudores registrados.
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-hover table-bordered" 
                       id="bootstrap-data-table-export"
                       >
                    <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">Id</th>
                            <th data-field="nombre" data-sortable="true">Nombre</th>
                            <th data-field="direccion" data-sortable="true">Dirección</th>
                            <th data-field="telefonos" data-sortable="true">Teléfonos</th>
                            <th data-field="email" data-sortable="true">Email</th>
                            <th data-field="clase" data-sortable="true">Clase</th>
                            <th data-field="registro" data-sortable="true">Registro</th>
                            <th data-field="estado" data-sortable="true">Estado</th>
                            <th data-field="acciones" >Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item.cxcomprador.cxparticipante }}</td>
                            <td>{{ item }}</td>
                            <td>{{ item.cxcomprador.ctdireccion }}</td>
                            <td>{{ item.cxcomprador.cttelefono1 }} / {{ item.cxcomprador.cttelefono2 }} / {{ item.cxcomprador.ctcelular }}</td>
                            <td>{{ item.cxcomprador.ctemail }}</td>
                            <td>{{ item.cxclase }}</td>
                            <td>{{ item.dregistro|date:"Y/m/d H:i:s" }}</td>
                            <td>{{ item.estado }}</td>
                            <td>
                                <a href="{% url 'clientes:comprador_editar' item.cxcomprador.id %}" 
                                    class="btn  btn-sm" title="Editar" role="button"><i class="fa fa-edit"></i></a>
                                <button class="btn  btn-sm"  title="Estado y clase"
                                        onclick="return AbrirModal('{% url 'clientes:estadoclasecomprador_editar' item.id %}')"
                                    role="button">
                                    <i class="fa fa-star"></i>
                                </button>
                                {% if not item.cxcomprador.datos_generales %}
                                <a href="{% url 'clientes:cliente_editar' item.cxcomprador.id %}"  title="Registrar como cliente"
                                    class="btn  btn-sm" role="button"><i class="fa fa-user"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

