option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: factorweb25.wsgi:application
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: "#{SECRET_KEY}"
    AWS_ACCESS_KEY_ID: "#{AWS_ACCESS_KEY_ID}"
    AWS_SECRET_ACCESS_KEY: "#{AWS_SECRET_ACCESS_KEY}"
    PASSWORD_BD: "#{PASSWORD_BD}"
    DJANGO_SETTINGS_MODULE: factorweb25.cloud_settings
