option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: factorweb.wsgi:application
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY:django-insecure-o!$b%i-r8^9lc(0v7%rugi*dmy+!rumaxw)&o#1j7212*bxv1)
    AWS_ACCESS_KEY_ID:AKIAUW2EOMCY6HZQAQ5S
    AWS_SECRET_ACCESS_KEY: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
    PASSWORD_BD:milo2015