{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cobranza</title>

    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            size:  portrait;
        }
        .table thead th {
                vertical-align:  top ;
                border-bottom: 1px solid #000;
        }
        .table td.numero{
            text-align: right;
        }
        .table td.centrado{
            text-align: center;
        }
        .alerta { 
        font-family: sans-serif; 
        font-size: 11px; 
        font-weight: 400; 
        color: #eb1111; 
        }        
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table >
                    <tbody>
                        <tr>
                            <td colspan="2"><h2>{{ empresa }}</h2></td>
                            <td></td>
                            <td colspan="2"><h1>Informe de cobranza </h1></td>
                            <td></td>
                            <td>Impresión: {% now "Y-m-d" %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="list-group">
                <table >
                    <tbody>
                        <tr>
                            <td><h4>Cliente:</h4></td>
                            <td colspan="3">{{ cobranza.cxcliente.cxcliente.ctnombre }}</td>
                            <td><h4>Fecha de cobranza:</h4></td>
                            <td>{{ cobranza.dcobranza|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td><h4>Id:</h4></td>
                            <td colspan="3">{{cobranza.cxcliente.cxcliente.cxparticipante}}</td>
                            <td><h4>tipo de factoring:</h4></td>
                            <td>{{ cobranza.cxtipofactoring }}</td>
                        </tr>
                        <tr>
                            <td><h4>Cobranza:</h4></td>
                            <td colspan="3" >{{ cobranza.cxcobranza }}</td>
                            <td><h4>Total:</h4></td>
                            <td class="numero">{{ cobranza.nvalor|intcomma}}</td>
                        </tr>
                        <tr>
                            <td><h4>Forma de cobro:</h4></td>
                            <td colspan="3">{{ datos_forma_cobro }}</td>
                            <td><h4>Sobrepago:</h4></td>
                            <td colspan="1" class="numero">{{ cobranza.nsobrepago|intcomma}}</td>                           
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>                       

            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover nowrap" style="width:100%">
                        <thead>
                            <th>Asignación</th>        
                            <th>Documento</th>
                            <th>Saldo a la fecha</th>
                            <th>Vencimiento</th>
                            <th>Días vencidos</th>
                            <th>Valor cobrado</th>
                            <th>Retenciones</th>
                            <th>Bajas</th>
                            <th>Total aplicado</th>
                            <th>Saldo actual</th>
                        </thead>
                        <tbody>
                            <tr></tr>
                            {% regroup detalle|dictsort:"cxdocumento.cxcomprador" by cxdocumento.cxcomprador as documentos_list %}
                            {% for comprador in documentos_list %}
                            <tr>
                                <td colspan=9><strong>{{ comprador.grouper }}</strong></td>
                            </tr>
                            {% for item in comprador.list %}
                            <tr>
                                <td>{{ item.cxdocumento.cxasignacion }}</td>
                                <td>{{ item.cxdocumento }}</td>
                                <td class="numero">{{ item.nsaldoaldia }}</td>
                                <td class="centrado">{{ item.vencimiento|date:"Y-m-d" }}</td>
                                <td class="numero">{{ item.dias_vencidos}}</td>
                                <td class="numero">{{ item.nvalorcobranza }}</td>
                                <td class="numero">{{ item.nretenciones }}</td>
                                <td class="numero">{{ item.nvalorbaja }}</td>
                                <td class="numero">{{ item.aplicado }}</td>
                                <td class="numero">{{ item.cxdocumento.nsaldo }}</td>
                            </tr>
                            {% endfor %}
                            <tr></tr>
                            {% endfor %}
                            <!-- totales -->
                            <tr></tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="numero"><h4>{{ totales.cobrado|intcomma }}</h4></td>
                                <td class="numero"><h4>{{ totales.retenido|intcomma }}</h4></td>
                                <td class="numero"><h4>{{ totales.bajas|intcomma }}</h4></td>
                                <td class="numero"><h4>{{ totales.aplicado|intcomma }}</h4></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <table >
                <tbody>
                    <tr></tr>
                    <tr>
                        <td><h4>Depositado el:</h4></td>
                        <td colspan="5">{{ datos_deposito }}</td>
                        {% if cobranza.cxestado == 'P' %}
                            <td class="alerta"><h4>Protestado el:</h4></td>
                            <td class="alerta" colspan="2">{{ fecha_protesto|date:"Y-m-d" }}</td>
                        {% endif %}
                        {% if cobranza.cxestado == 'E' %}
                            <td class="alerta"><h4>Reversada</h4></td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if cobranza.cxestado == 'P' %}
                            <td colspan="6"></td>
                            <td class="alerta" ><h4>Nd:</h4></td>
                            <td class="alerta" colspan="2">{{ nd_protesto}}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><h4>Realizado por:</h4></td>
                        <td colspan="5">{{cobranza.cxusuariocrea}}</td>
                        {% if cobranza.cxestado == 'P' %}
                        <td class="alerta"><h4>Motivo:</h4></td>
                        <td class="alerta" colspan="2">{{ motivo_protesto}}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>


        </div>
        {% if empresa.lgratis %}
        <footer class="footer">
            <p>SAAS Margarita desarrollado por Código Bambú</p>
        </footer>
        {% endif %}
</div>

</body>
</html>