<div class="modal-dialog ">
    <div class="modal-content">

        <form  method="POST" rol="form"  name="form"
            action="{% url 'cobranzas:datos_diascondonar' id dias cobranza tipo_operacion %}"
            class="form-horizontal" onsubmit="return checkSubmit();">
            <!-- <div class="col-md-12"> -->
            <div class="card">

                {% csrf_token %}
                <div class="card-header">
                    <strong>Datos del cobro </strong> 
                </div>
                
                <input type="text" id = "id_id"  hidden  value = "{{ id}}" >
                <!-- body -->
                <div class="card-body card-block">
                    <!-- dias -->
                    <div class="row form-group">
                        <div class="col-md-6"><label for="dias" class=" form-control-label">
                            Días a condonar</label></div>
                        <div class="col-md-6">
                            <input type="number" id="dias_id" name="dias_id" min="0"
                            value={{dias}}>
                        </div>
                    </div>
                    <!-- fecha -->
                    <div class="row form-group">
                        <div class="col-md-6"><label for="fecha_id" class=" form-control-label">
                            Fecha para cálculo de cargos</label></div>
                        <div class="col-md-6">
                            <input type="text" name="fecha_id" class="form-control" 
                            readonly required id="fecha_id">
                        </div>
                    </div>
                </div>    
                <!-- footer -->
                <div class="card-footer">
                    <!-- <button id="button" class="btn btn-secondary">updateCell</button> -->
                    <button type="buttom" class="btn btn-danger btn-sm" 
                        onclick="return CerrarModal()">
                        <i class="fa fa-dot-circle-o"></i> Cerrar
                    </button>
                    <button id="btnCondonar" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Grabar
                    </button>
                </div>
            </div>
            <!-- </div> -->
        </form>

    </div>

    <script>
        var enviando = false; //Obligaremos a entrar el if en el primer submit
        var cobranza = capturaValor('id_dcobranza');
        calcular_fecha();

        // configuar cambios en ls campos de fechas
        jQuery('#dias_id').change(function(){
                calcular_fecha();
            });
        jQuery('#fecha_id').change(function(){
                calcular_dias();
            });

        function calcular_dias(){
            // restar la fecha de cobro de la fecha ingresada
            // para evitar la convercion a zona horaria agregar la hora 00:00
            let x = Date.parse(cobranza + " 00:00:00") 
            let nuevafecha = Date.parse( capturaValor('fecha_id') + " 00:00:00")
            let dias = (x - nuevafecha)/ 1000 / 60 /60 / 24
            
            jQuery('#dias_id').val(dias );

        };
        
        function calcular_fecha(){
            // operaciones entre fechas se llevan en milisegundos
            let DiasEnMilisegundos = 1000 * 60 * 60 * 24 * capturaValor("dias_id");
            let x = Date.parse(cobranza + " 00:00:00") - DiasEnMilisegundos;
            let nuevafecha = new Date(x)

            inicializaValor("fecha_id", nuevafecha)
            d = nuevafecha.getFullYear() + "-" + (nuevafecha.getMonth()+1) + "-" + nuevafecha.getDate()
            
            objeto_fechas("#fecha_id", d);

        }
    </script>
</div>