{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Operaciones</a></li>
                    <li><a href="#">cobranzas</a></li>
                    {% if tipo == "Cobranza" %}
                        {% if por_vencer == 'Si' %}
                        <li><a href="{% url 'cobranzas:listadocumentosporvencer' %}">
                            cartera por vencer</a></li>
                        {% else %}
                        <li><a href="{% url 'cobranzas:listadocumentosvencidos' %}">
                            Cartera vencida
                        </a>
                        </li>
                        {% endif %}
                        <li class="active">cobro de documentos</li>
                    {% else %}
                        <li><a href="{% url 'cobranzas:listaprotestospendientes' %}">
                            protestos pendiente</a></li>
                        <li class="active">recuperación de protesto</li>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}

        <div hidden>
            <input id="total_cartera" name="total_cartera" value="{{ total_cartera }}">
        </div>
<form  method="post" id="frmCobranza" enctype="multipart/form-data" 
    class="form-horizontal">
    {% csrf_token %}
    <!-- <div class="col-lg-6"> -->
    <div class="card">
    <div class="card-header" style="background-color: white;">
            <div class="d-flex justify-content-between align-items-center ">
                {% if tipo == "Cobranza" %}
                <h5>Cobro de documentos de {{ cliente }}</h5>
                {% else %}
                <h5>Recuperación de protestos de {{ cliente }}</h5>
                {% endif %}
                {% if tipo == "Cobranza" %}
                    {% if por_vencer == 'Si' %}
                    <a href="{% url 'cobranzas:listadocumentosporvencer' %}" 
                    class="btn btn-sm">
                        <i class="fa fa-times"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'cobranzas:listadocumentosvencidos' %}" 
                    class="btn btn-sm">
                        <i class="fa fa-times"></i>
                    </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'cobranzas:listaprotestospendientes' %}" 
                    class="btn btn-sm">
                        <i class="fa fa-times"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col-12">
                    <!-- datos de la cobranza -->
                    <div class="card"style="border:1px solid #ddd; border-radius:8px; position:relative;box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6>Datos de la cobranza</h6>
                                <div class="btn-group ">
                                    <label for="porcliente">
                                        <strong id="cliente-paga-text" 
                                            class="{% if  un_solo_comprador != 'Si' or forma_cobro == 'MOV' %}text-dark{% else %}text-secondary{% endif %}">
                                            Cliente paga   
                                        </strong>

                                    </label>
                                    <label class="switch switch-3d switch-primary ml-3">
                                        <input type="checkbox" class="switch-input" 
                                        {% if  un_solo_comprador != "Si" or forma_cobro == 'MOV' %} checked {% endif %} 
                                        id = "porcliente" name = "pagadopor"> 
                                        <span class="switch-label"></span> 
                                        <span class="switch-handle"></span>
                                    </label>

                                    <script>
                                    document.getElementById('porcliente').addEventListener('change', function() {
                                        const text = document.getElementById('cliente-paga-text');
                                        if (this.checked) {
                                            text.classList.remove('text-secondary');
                                            text.classList.add('text-dark');
                                        } else {
                                            text.classList.remove('text-dark');
                                            text.classList.add('text-secondary');
                                        }
                                    });
                                    </script>
                                </div>                    
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">                    
                                <div class="col-md-1"><label for="id_dcobranza" 
                                    class=" form-control-label">
                                    {{ form.dcobranza.label}}</label>
                                </div>
                                <div class="col-md-2">
                                    {{ form.dcobranza}}
                                </div>

                                <div class="col-md-3">
                                    {% if not Anticipa100 %}
                                    <button id="liquidacionencero" class="btn btn-outline-secondary btn-sm w-100" type="button"
                                        onclick="RecalcularLiquidacionEnCero(capturaValor('id_dcobranza'))"
                                        title="Generada con corte a la fecha de cobro">
                                        Cobranza con liquidación cero
                                    </button>
                                    {% endif %}
                                </div>
                                <div class="col-md-1">
                                    <label for="id_nvalor" class=" form-control-label">
                                    {{ form.nvalor.label}}</label>
                                </div>
                                <div class="col-md-2 animate__animated animate__shakeX">
                                        {{ form.nvalor}}
                                </div>
                                <!-- <div class="col-md-1">
                                    <label for="id_porcliente" class=" form-control-label">
                                    Recibido de:</label>
                                </div> -->
                                <div class="col-md-1 "><label for="id_nsobrepago" 
                                    class=" form-control-label">
                                    {{ form.nsobrepago.label}}</label>
                                </div>
                                <div class="col-md-2">
                                    <!-- {{ form.nsobrepago}} -->
                                      <div class="text-right" id="divSobrepago">0.00</div>
                                </div>
                            </div>
                            {% if forma_cobro in 'CHE, TRA' %} 
                            <div class="row form-group ">

                                <div class="col-md-1">
                                    <label for="id_cxbanco" class=" form-control-label">
                                    {{ form_cheque.cxcuentabancaria.label}}</label>
                                </div>
                                <div class="col-md-5">
                                    <!-- dependiendo de si pagó el cliente o el deudor -->
                                    <!-- presentar la lista de cuentas bancarias -->
                                    <div id="div_cuentas_deudor">
                                    {% if un_solo_comprador == 'Si' %}
                                        <select data-placeholder="Seleccione una cuenta..." 
                                            class="form-control"  tabindex="1" 
                                            id="cuenta_deudor" name="cuenta_deudor"
                                            >
                                            <option value=""></option>
                                            {% for cuenta in cuentas_bancarias_deudor %}
                                            <option value="{{ cuenta.id}}" >{{ cuenta}} </option>
                                            {% endfor %}
                                        </select>

                                    {% endif %}
                                    </div>

                                    <div id="div_cuentas_cliente" {% if un_solo_comprador == 'Si'%} hidden {% endif %} %}>
                                        <select data-placeholder="Seleccione una cuenta..." 
                                            class="form-control"  tabindex="1" 
                                            id="cuenta_cliente" name="cuenta_cliente"
                                            >
                                            <option value=""></option>
                                            {% for cuenta in cuentas_bancarias_cliente %}
                                            <option value="{{ cuenta.id}}" >{{ cuenta}} </option>
                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                </div>

                                {% if forma_cobro == 'CHE' %}

                                <div class="col-md-1"><label for="id_ctgirador" 
                                    class=" form-control-label">
                                    {{ form_cheque.ctgirador.label}}</label>
                                </div>
                                <div class="col-md-3">
                                    {{ form_cheque.ctgirador}}
                                </div>
                                <div class="col-md-1"><label for="id_ctcheque" 
                                    class=" form-control-label">
                                    {{ form_cheque.ctcheque.label}}</label>
                                </div>
                                <div class="col-md-1">
                                    {{ form_cheque.ctcheque}}
                                </div>
                                {% endif %}
                            </div>
                            {% endif %} 
                            <div class="row form-group">
                                <div class="col-6"></div>
                                <div class="col-md-1"><label for="id_ctcomentario" 
                                    class=" form-control-label">
                                    {{ form.ctcomentario.label}}</label>
                                </div>
                                <div class="col-md-5">
                                    {{ form.ctcomentario}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- parte inferior -->
            <!-- <h5 class="heading-title mb-1 mt-3 text-secondary">Detalle de documentos</h5> -->
            <div class="row form-group">
                <!-- <small> -->
                <div class="col-12">
                    <div class="card "style="border:1px solid #ddd;  border-radius:8px; position:relative;box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                        <div class="card-header">
                            <h6>Documentos</h6>
                        </div>
                        <div class="body">
                            <table id="table"                      
                                data-show-columns-toggle-all="true"
                                data-detail-formatter="detailFormatter"
                                data-minimum-count-columns="2"
                                data-id-field="id"
                                data-unique-id="id"
                                data-show-footer="true"
                                data-side-pagination="server"
                                {% if tipo == 'Cobranza' %}
                                data-url="{% url 'cobranzas:detalle_documentos' documentos %}"
                                {% else %}
                                data-url="{% url 'cobranzas:detalle_documentos_protestos' documentos %}"
                                {% endif %}
                                >
                            </table>

                        </div>
                    </div>
                </div>
                <!-- </small> -->
            </div>
            <!-- datos de deposito -->
            <div {% if forma_cobro == 'MOV' %} hidden {% endif %}>

                <div class="row form-group">
                    <div class="col-12">
                        <div class="card" style="border:1px solid #ddd; border-radius:8px; position:relative;box-shadow: 0 4px 8px rgba(0,0,0,0.1);" >
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Datos del depósito</h6>
                                    <div class="btn-group ">
                                        <label for="cuentacliente">
                                            <strong id="cuenta-cliente-text" class="text-secondary">En cuenta compartida</strong>
                                        </label>

                                        <label class="switch switch-3d switch-primary ml-3">
                                            <input type="checkbox" class="switch-input" 
                                            id = "cuentacliente" name = "depositaren"> 
                                            <span class="switch-label"></span> 
                                            <span class="switch-handle"></span>
                                        </label>

                                        <script>
                                        document.getElementById('cuentacliente').addEventListener('change', function() {
                                            const text = document.getElementById('cuenta-cliente-text');
                                            if (this.checked) {
                                                text.classList.remove('text-secondary');
                                                text.classList.add('text-dark');
                                            } else {
                                                text.classList.remove('text-dark');
                                                text.classList.add('text-secondary');
                                            }
                                        });
                                        </script>
                                    </div>                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-1">
                                        <label for="id_cxcuentadeposito" class=" form-control-label">
                                        Cuenta bancaria</label>
                                    </div>

                                    <div class="col-md-5">
                                        <div id="div_cuentas_empresa">{{form.cxcuentadeposito}}</div>
                                        <div id="div_cuentas_conjuntas" hidden>
                                            <select data-placeholder="Seleccione una cuenta..." 
                                                tabindex="1" class="form-control" 
                                                id="cuenta_conjunta" name="cuenta_conjunta"
                                                >
                                                <option value=""></option>
                                                {% for cuenta in cuentas_conjuntas %}
                                                <option value="{{ cuenta.id}}" >{{ cuenta}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-md-1"><label for="id_ddeposito" 
                                        class=" form-control-label">
                                        {{form.ddeposito.label}}</label></div>
                                    <div class="col-md-2">
                                        {{form.ddeposito}}
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>    
          
        <div class="card-footer">
            <div class="text-right">
            <button class="btn btn-secondary btn-sm"  type="button" onclick="AceptarCobranza()">  
                <i class="fa fa-dot-circle-o"></i> Grabar
            </button>
            </div>
        </div>
    </div>
    <!-- </div> -->
</form>
{% endblock %}
{% block js_page %}
{% if tipo == "Cobranza" %}
<script type="text/javascript" src="{% static 'factorweb/js/datoscobranzas.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'factorweb/js/datosrecuperacion.js' %}"></script>
{% endif %}
<script>
    const nombre_cliente = "{{cliente}}";
    const nombre_deudor = "{{deudor}}";
    const un_solo_comprador = "{{ un_solo_comprador }}";
    const id_cliente = "{{ cliente_id }}";
    const id_deudor = "{{ deudor_id }}";
    const forma_de_cobro = "{{forma_cobro}}"
    const documentos = "{{documentos}}";
    const tipo_factoring = "{{tipo_factoring}}";
    const tipo = "{{tipo}}";

    if (forma_de_cobro == 'CHE') {
        if (un_solo_comprador == "Si") {
            inicializaValor("id_ctgirador", nombre_deudor);
        }else{
            inicializaValor("id_ctgirador", nombre_cliente);
        }

    }
    
var $table = jQuery('#table')

window.onload=function(){

    inicializaValor("id_nvalor",capturaValor("total_cartera"))

    jQuery('#id_nvalor').change(function(){
        calcular_sobrepago();
    });

    jQuery('input[type=checkbox][name="pagadopor"]').change(function() {
      mostrar_cuentas_origen();
    });

    jQuery('input[type=checkbox][name="depositaren"]').change(function() {
      mostrar_cuentas_destino();
    });

    $table.bootstrapTable({locale:"es-EC"});

    // inicializar tabla
    initTable();

};

function operateFormatter(value, row, index) {
    return [
        '<a class="cobrar" href="javascript:void(0)" title="Cobro">',
        '<i class="fa fa-edit"></i>',
        '</a>'
    ].join('')
    }
 
function calcular_sobrepago(){
  var seleccion = $table.bootstrapTable('getData');
  
  const total_cobrado = seleccion.map(function(row) {
      return +row.Cobro.substring(0);
  }).reduce(function (sum, i) {
      return Math.round((sum + i + Number.EPSILON) * 100) / 100;
  }, 0);
          
  var sobrepago = capturaValor('id_nvalor') - total_cobrado;

  // Redondear sobrepago a dos decimales
  sobrepago = Math.round((sobrepago + Number.EPSILON) * 100) / 100;

  // inicializaValor('id_nsobrepago', sobrepago);
  inicializarInner('divSobrepago', sobrepago);
}

function mostrar_cuentas_origen(){
  // obtener el valor de checkbox button cliente
  // si es on, esconder las cuentas del deudor, mostrar la del cliente
  // si es off, esconder la cuentas del cliente, mostrar la del deudor
    const div_c = document.querySelector('#div_cuentas_cliente');
    const div_d = document.querySelector('#div_cuentas_deudor');
  
    let recibido_de_cliente = document.querySelector('input[name="pagadopor"]:checked');
  
  if (recibido_de_cliente != null){
      div_d.setAttribute('hidden',true);
      div_c.removeAttribute('hidden');
      inicializaValor("id_ctgirador",nombre_cliente);
    }
    else{
      div_d.removeAttribute('hidden');
      div_c.setAttribute('hidden',true);
      inicializaValor("id_ctgirador",nombre_deudor);
    }
  }
  
function mostrar_cuentas_destino(){
    const div_e = document.querySelector('#div_cuentas_empresa');
    const div_c = document.querySelector('#div_cuentas_conjuntas');
  
    let deposito_en = document.querySelector('input[name="depositaren"]:checked');
  
  if (deposito_en != null){
      div_e.setAttribute('hidden',true);
      div_c.removeAttribute('hidden');
      }
    else{
      div_e.removeAttribute('hidden');
      div_c.setAttribute('hidden',true);
    }
  }
  
function RecalcularLiquidacionEnCero(fecha_cobro){
  // el formato usado es yyyy-mm-dd. Esta validación necesaria pues al digitar la fecha
  // su pueden tener meses y dias como '00'
  var isValid = fecha_cobro.match(/^\d{4}(\-)(((0)[0-9])|((1)[0-2]))(\-)([0-2][0-9]|(3)[0-1])$/);

  if (isValid) {
    fetchRecuperar("/cobranzas/generaliquidacionencero/" + documentos + "/" 
        + tipo_factoring + "/" + id_cliente + "/" + fecha_cobro + "/" + tipo, function(data){
            if (data.error != '') {
                MensajeError(data.error);
            }else{
                inicializaValor('id_nvalor', data.total_cobranza);
                // inicializaValor('id_nsobrepago', data.sobrepago);
                inicializarInner('divSobrepago', data.sobrepago);

                // Obtener los datos actuales de la tabla
                var tableData = $table.bootstrapTable('getData');
                
                // Modificar cada fila reduciendo el valor al 80%
                tableData.forEach(function(row) {
                    if (row.Cobro && !isNaN(parseFloat(row.PorcentajeAnticipo))) {
                        row.Cobro = (Math.round(parseFloat(row.SaldoActual) 
                            * parseFloat(row.PorcentajeAnticipo)/100 * 100) 
                            / 100).toString();
                        row.Bajas = (Math.round((row.SaldoActual - row.Cobro) * 100) 
                            / 100).toString();
                    }
                });
                
                // Actualizar la tabla con los nuevos datos
                $table.bootstrapTable('load', tableData);
                
           }
        }) 
  } 

}

</script>
{% endblock %}
