{% load filtros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liquidación</title>

    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            size:  portrait;
        }
        .table thead th {
                vertical-align:  top ;
                border-bottom: 1px solid #000;
        }
        .table td.numero{
            text-align: right;
        }
        .table td.centrado{
            text-align: center;
        }
        .caja { 
        font-family: sans-serif; 
        font-size: 18px; 
        font-weight: 400; 
        color: #090909; 
        background:#a9b7b7 
        }        
        .alerta { 
        font-family: sans-serif; 
        font-size: 11px; 
        font-weight: 400; 
        color: #eb1111; 
        }        
    </style>
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">    -->
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table >
                    <tbody>
                        <tr>
                            <td colspan="2"><h2>{{ empresa.ctnombre|default:'Nombre de empresa' }}</h2></td>
                            <td></td>
                            <td colspan="2"><h1>Liquidación de cobranza </h1></td>
                            <td></td>
                            <td>Impresión: {% now "Y-m-d" %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="list-group">
                <table >
                    <tbody>
                        <tr>
                            <td><h4>Cliente:</h4></td>
                            <td colspan="3">{{ liquidacion.cxcliente.cxcliente.ctnombre }}</td>
                            <td><h4>Fecha de liquidación:</h4></td>
                            <td>{{ liquidacion.dliquidacion|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <td><h4>Id:</h4></td>
                            <td colspan="3">{{liquidacion.cxcliente.cxcliente.cxparticipante}}</td>
                            <td><h4>Tipo de factoring:</h4></td>
                            <td>{{ liquidacion.cxtipofactoring }}</td>
                        </tr>
                        <tr>
                            <td><h4>Liquidación:</h4></td>
                            <td colspan="3">{{ liquidacion.cxliquidacion }}</td>
                            <td><h4>Total:</h4></td>
                            <td>{{ liquidacion.neto}}</td>
                        </tr>
                        <tr>
                            <td><h4>Instrucción de pago:</h4></td>
                            <td colspan="3">{{ liquidacion.ctinstrucciondepago }}</td>
                            <td><h4>Fecha de desembolso:</h4></td>
                            <td>{{ liquidacion.ddesembolso|date:"Y-m-d"}}</td>                           
                        </tr>
                    </tbody>
                </table>
                <!-- <hr> -->
            </div>         
            <!-- <hr> -->
            <!-- vueltos y sobrepagos -->
            <div class="caja">
                <td><h2>Vueltos y sobrepagos:</h2></td>                
            </div>
            <div class="row">
                <table id="table"  class="table">
                <thead>
                    <tr>
                      <th >Cobranza</th>
                      <th >Fecha de cobro</th>
                      <th >Valor</th>
                      <th >Vuelto</th>
                      <th >Sobrepago</th>
                      <th >Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                    {% for c in liquidacion.jcobranzas %}
                    <tr>
                        <td> {{c.cobranza}} </td>
                        <td> {{c.fecha_cobranza}} </td>
                        <td class="numero"> {{c.valor_cobrado}} </td>
                        <td class="numero"> {{c.vuelto|floatformat:2}} </td>
                        <td class="numero"> {{c.sobrepago|floatformat:2}} </td>
                        <td class="numero"> {{c.total|floatformat:2}} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

            </div>
            <!-- aqui debe haber una linea en blano por lo menos -->
            <div class="caja">
                <td><h2>Cargos:</h2></td>                
            </div>
            <div class="row">
                <!-- <div class="col"> -->
                    <table class="table table-striped table-hover nowrap" style="width:100%">
                        <thead>
                            <th>Asignación.</th>        
                            <th>Documento negociado</th>
                            <th>Fecha de desembolso</th>
                            <th>Cobranza / Operación</th>
                            <th>Base de cálculo</th>
                            <th>Tasa</th>
                            <th>Días</th>
                            <th>Valor</th>
                            <th>Total</th>
                        </thead>
                        <tbody>
                            <!-- <tr></tr> -->
                            {% for cargo in detalle %}
                            <tr></tr>
                            <tr>
                            <td colspan="8"><h3> {{ cargo.nombre }}</h3></td>
                            <td class="numero"><h3> {{ cargo.valor }}</h3></td>
                            </tr>
                            {% for item in cargo.detalle %}
                            <tr>
                                {% if item.asignacion == 'N/A' %}
                                    <td colspan="3">{{ item.documento }}</td>
                                {% else %}
                                    <td>{{ item.asignacion }}</td>
                                    <td>{{ item.documento }}</td>
                                    <td class="centrado">{{ item.desembolso|date:"Y-m-d" }}</td>
                                {% endif %}
                                <td class="centrado">{{ item.cobranza }}</td>
                                <td class="numero">{{ item.valor_base|floatformat:2 }}</td>
                                <td class="numero">{{ item.tasa_calculo }}</td>
                                <td class="numero">{{ item.dias_calculo }}</td>
                                <td class="numero">{{ item.valor }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                            <!-- totales -->
                        </tbody>
                    </table>

                <!-- </div> -->
            </div>
            <!-- Resumen -->
            <div class="caja">
                <td><h2>Resumen:</h2></td>                
            </div>
            <div class="row">
                <table id="table"  class="table">
                    <thead>
                        <tr>
                            <th></th>
                        <th >Vuelto</th>
                        {% if liquidacion.nsobrepago %}
                        <th >Sobrepago</th>
                        {% endif %}
                        <th >{{nombre_dc}}</th>
                        {% if liquidacion.ngao %}
                        <th >{{nombre_gao}}</th>
                        {% endif %}
                        {% if liquidacion.ngaoa %}
                        <th >{{nombre_gaoa}}</th>
                        {% endif %}
                        {% if liquidacion.niva %}
                        <th >IVA</th>
                        {% endif %}
                        {% if liquidacion.nretenciones %}
                        <th >Retenciones</th>
                        {% endif %}
                        {% if liquidacion.nbajas %}
                        <th >Bajas</th>
                        {% endif %}
                        {% if liquidacion.otros_cargos %}
                        <th >Otros</th>
                        {% endif %}
                        <th >Neto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr>
                            <td><h3>Totales:</h3></td>
                            <td class="numero"> {{liquidacion.nvuelto}} </td>
                            {% if liquidacion.nsobrepago %}
                            <td class="numero"> {{liquidacion.nsobrepago}} </td>
                            {% endif %}
                            <td class="numero"> {{liquidacion.ndescuentodecartera|suma:liquidacion.ndescuentodecarteravencido}} </td>
                            {% if liquidacion.ngao %}
                            <td class="numero"> {{liquidacion.ngao}} </td>
                            {% endif %}
                            {% if liquidacion.ngaoa %}
                            <td class="numero"> {{liquidacion.ngaoa}} </td>
                            {% endif %}
                            {% if liquidacion.niva %}
                            <td class="numero"> {{liquidacion.niva}} </td>
                            {% endif %}
                            {% if liquidacion.nretenciones %}
                            <td class="numero"> {{liquidacion.nretenciones}} </td>
                            {% endif %}
                            {% if liquidacion.nbajas %}
                            <td class="numero"> {{liquidacion.nbajas}} </td>
                            {% endif %}
                            {% if liquidacion.otros_cargos %}
                            <td class="numero"> {{liquidacion.otros_cargos}} </td>
                            {% endif %}
                            <td class="numero"> {{liquidacion.neto}} </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <br><br>
            <br><br>
            <!-- <table >
                <tbody>
                    <tr></tr>
                    <tr>
                        <td><h4>Realizado por:</h4></td>
                        <td colspan="5">{{ liquidacion.cxusuariocrea}}</td>
                        {% if liquidacion.cxestado == 'E' %}
                            <td class="alerta"><h4>Reversada</h4></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table> -->
            <div class="row ">
                <table >
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Elaborado por: {{ liquidacion.cxusuariocrea}}</td>
                            <td>Revisado por:</td>
                            <td>Recibido por:</td>
                            {% if liquidacion.cxestado == 'E' %}
                            <td class="alerta"><h4>Reversada</h4></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                </div>
    
        </div>
        {% if empresa.lgratis %}
        <footer class="footer">
            <p>SAAS Margarita desarrollado por Código Bambú</p>
        </footer>
        {% endif %}
</div>
</body>
</html>