{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">cartera</a></li>
                    <li><a href="#">seguimiento</a></li>
                    <li class="active">gestiones</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <!-- <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle " type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" onclick="GuardarCorte()">Nuevo</a>
                        <a class="dropdown-item" href="#">Imprimir</a>
                    </div>
                </div>
            </div> -->
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }} encontrado{% if consulta.count != 1 %}s{% endif %}</span>
            </h4>
        </div>
        <div class="card-body">

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay gestiones de cobro registradas.
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-hover table-bordered" 
       id="bootstrap-data-table-export"
       data-search="true"
       data-show-columns="true"
       data-show-export="true"
       data-show-refresh="true"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[10, 25, 50, 100, all]"
       data-locale="es-EC">
    <thead>
        <tr>
            <th data-field="campo1" data-sortable="true">Participante</th>
            <th data-field="campo2" data-sortable="true">Revisión</th>
            <th data-field="campo3" data-sortable="true">Realizado por</th>
            <th data-field="campo4" data-sortable="true">Comentario</th>
            <th data-field="campo5" data-sortable="true">Clase/Estado de cliente</th>
            <th data-field="campo6" data-sortable="true">Estado</th>
            <th data-field="campo7" data-sortable="false">Acciones</th>
        </tr>
    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ item.revision_cartera_cliente.revision }}</td>
                            <td>{{ item.cxusuariocrea }}</td>
                            <td>{{ item.revision_cartera_cliente.ctcomentario }}</td>
                            <td>{{ item.revision_cartera_cliente.ctclaseactual }}/{{ item.revision_cartera_cliente.ctestadoactual }}</td>
                            <td>{{ item.estado}}</td>
                            <td>
                                <a href="{% url 'cobranzas:gestion_cobro' item.id %}"  title="Registro de mensajes"
                                    class="btn  btn-sm" role="button"><i class="ti-mobile"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

