{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">configuración</a></li>
                    <li><a href="#">empresa</a></li>
                    <li class="active">datos de la empresa</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
<form  method="post" id="frmConfirmacion" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <div class="d-flex justify-content-between align-items-center ">
                <h5>Datos de la empresa</h5> 
                <a href="{% url 'bases:home' %}" 
                    class="btn  btn-sm">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="tabsEmpresa" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-datos-tab" data-toggle="tab"
                        href="#tab-datos" role="tab" aria-controls="tab-datos" aria-selected="true">Datos generales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-correos-tab" data-toggle="tab"
                        href="#tab-correos" role="tab" aria-controls="tab-correos" aria-selected="false">Configuración de correos</a>
                </li>
            </ul>
            <div class="tab-content pt-3" id="tabsEmpresaContent">
            <div class="tab-pane fade show active" id="tab-datos" role="tabpanel" aria-labelledby="tab-datos-tab">
            <!-- cargos -->
            <div class="col-lg-12">
                    <div class="row form-group">
                        <div class="col-md-2"><label for="id_ctruccompania" 
                            class=" form-control-label">
                            {{ form.ctruccompania.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ctruccompania}}
                        </div>
        
                        <div class="col-md-2">
                            <label for="id_ctnombre" class=" form-control-label">
                            {{ form.ctnombre.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ctnombre}}
                        </div>
                            
                    </div>

                    <div class="row form-group">
        
                        <div class="col-md-2">
                            <label for="id_ctciudad" class=" form-control-label">
                            {{ form.ctciudad.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ctciudad}}
                        </div>                        
        
                        <div class="col-md-2">
                            <label for="id_ctdireccion" class=" form-control-label">
                            {{ form.ctdireccion.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ctdireccion}}
                        </div>                        
                    </div>

                    <div class="row form-group">
        
                        <div class="col-md-2">
                            <label for="id_ctcontribuyenteespecial" class=" form-control-label">
                            {{ form.ctcontribuyenteespecial.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ctcontribuyenteespecial}}
                        </div>                        
                        <div class="col-md-2">
                            <label for="id_ctgerente" class=" form-control-label">
                            {{ form.ctgerente.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ctgerente}}
                        </div>
                            
                    </div>
                    <div class="row form-group">
        
                        <div class="col-md-2">
                            <label for="id_ambientesri" class=" form-control-label">
                            {{ form.ambientesri.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ambientesri}}
                        </div>                        
        
                        <div class="col-md-2">
                            <label for="id_nporcentajeiva" class=" form-control-label">
                            {{ form.nporcentajeiva.label}}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.nporcentajeiva}}
                        </div>                        
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="id_ilogolargo" class="form-control-label">{{ form.ilogolargo.label }}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ilogolargo }}
                        </div>
                        <div class="col-md-2">
                            <label for="id_ilogocorto" class="form-control-label">{{ form.ilogocorto.label }}</label>
                        </div>
                        <div class="col-md-4">
                            {{ form.ilogocorto }}
                        </div>
                    </div>
                
                    <div class="row form-group">
        
                        <div class="col-md-2">
                            <label for="id_lregimenrimpe" class=" form-control-label">
                            {{ form.lregimenrimpe.label}}</label>
                        </div>
                        <div class="col-md-4">
                            <!-- {{ form.lregimenrimpe}} -->
                            <label class="switch switch-3d switch-success mr-3">
                                <input type="checkbox" class="switch-input" 
                                {% if  empresa.lregimenrimpe %} checked {% endif %} 
                                id = "id_lregimenrimpe" name = "lregimenrimpe"> 
                                <span class="switch-label"></span> 
                                <span class="switch-handle"></span>
                            </label>
                        </div>                        
                    </div>

            </div>
            </div>
            <div class="tab-pane fade" id="tab-correos" role="tabpanel" aria-labelledby="tab-correos-tab">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <span class="count">{{ configuraciones_correo|length }} registro{{ configuraciones_correo|length|pluralize }}</span>
                        <button type="button" class="btn btn-primary btn-sm" onclick="return AbrirConfiguracionCorreo();">
                            <i class="fa fa-plus"></i> Nueva configuración
                        </button>
                    </div>
                    {% if not configuraciones_correo %}
                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        <span class="badge badge-pill badge-danger">Sin registros</span>
                        No hay configuraciones de correo registradas.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Servidor SMTP</th>
                                <th>Puerto</th>
                                <th>Usuario / correo</th>
                                <th>Remitente</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in configuraciones_correo %}
                            <tr>
                                <td>{{ item.get_cxtipo_display }}</td>
                                <td>{{ item.ctservidorcorreosaliente }}</td>
                                <td>{{ item.npuerto }}</td>
                                <td>{{ item.ctlogincorreo }}</td>
                                <td>{{ item.ctnombreremitente }}</td>
                                <td>
                                    <a href="javascript:void(0)" title="Editar" class="btn btn-sm" role="button"
                                        onclick="return AbrirConfiguracionCorreo({{ item.id }});">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-secondary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Grabar
                </button>

            </div>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
        </div>
        {% endif %}

    </div>
 
</form>
<script>
    // recuerda la pestaña activa entre recargas (p.ej. tras grabar una configuración de correo)
    var TAB_EMPRESA_KEY = 'tabEmpresaActiva';

    jQuery('#tabsEmpresa a').on('shown.bs.tab', function (e) {
        localStorage.setItem(TAB_EMPRESA_KEY, jQuery(e.target).attr('href'));
    });

    jQuery(function () {
        var tabActiva = localStorage.getItem(TAB_EMPRESA_KEY);
        if (tabActiva) {
            jQuery('#tabsEmpresa a[href="' + tabActiva + '"]').tab('show');
        }
    });

    function AbrirConfiguracionCorreo(id) {
        var url = id
            ? "{% url 'empresa:configuracioncorreo_editar' 0 %}".replace(/0$/, id)
            : "{% url 'empresa:configuracioncorreo_nuevo' %}";
        return AbrirModal(url);
    }
</script>
{% endblock %}
