{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Configuración</a></li>
                    <li><a href="#">empresa</a></li>
                    <li><a href="#">cuentas bancarias</a></li>
                    <li class="active">editar</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="col-lg-8">
<form  method="post"  class="form-horizontal">
        <div class="card">
            <div class="card-header" style="background-color: white;">
                <div class="d-flex justify-content-between align-items-center ">
                    <h5>Datos de {% if cuentabancaria %}  {{ cuentabancaria }} {% else %}  nueva cuenta bancaria {% endif %} </h5> 
                    <a href="{% url 'empresa:listacuentasbancarias' %}" class="btn  btn-sm">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                {% csrf_token %}
            <div class="card-body card-block">

                    <div class="row form-group">
                        <div class="col-md-4"><label for="id_cxbanco">{{ form.cxbanco.label}}</label>
                            
                        </div>
                        <div class="col col-md-8">
                            {{ form.cxbanco}}
                        </div>
                    </div>  

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label for="id_cxcuenta">{{ form.cxcuenta.label}}</label>
                        </div>
                        <div class="col col-md-8">
                            {{ form.cxcuenta}}
                            <small class="form-text text-muted">Máximo 20 caracteres</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label for="id_lactiva">{{ form.lactiva.label}}</label>
                        </div>
                        <div class="col col-md-8">
                            <label class="switch switch-3d switch-success mr-3">
                                <input type="checkbox" class="switch-input" 
                                {% if  cuentabancaria.lactiva %} checked {% endif %} 
                                id = "id_lactiva" name = "lactiva"> 
                                <span class="switch-label"></span> 
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>

            </div>    

            <div class="card-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-secondary btn-sm">
                        <span class="fa fa-dot-circle-o"></span> Grabar
                    </button>

                </div>
                {{ form.errors}}
            </div>
        </div>
</form>
    </div>
{% endblock %}
{% block js_page %}{% endblock %}
