{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Extras</a></li>
                    <li><a href="#">Configuración</a></li>
                    <li><a href="{% url 'empresa:listatasasfactoring' %}">Tasas de factoring</a></li>
                    <li class="active">editar</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
<form  method="post"  class="form-horizontal">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                <strong>Datos</strong> 
                de {% if tasafactoring %}  {{ tasafactoring }} {% else %}  nueva tasa de factoring {% endif %} 
            </div>
                {% csrf_token %}
            <div class="card-body card-block">

                    <div class="row form-group" hidden>
                        <div class="col-md-5"><label for="id_cxtipoid" 
                            class=" form-control-label">{{ form.cxtasa.label}}</label></div>
                        <div class="col col-md-7">
                            {{ form.cxtasa}}
                            <small class="form-text text-muted">Máximo 4 caracteres</small>
                        </div>
                    </div>  

                    <div class="row form-group">
                        <div class="col col-md-5"><label for="id_cxparticipante" 
                            class=" form-control-label">Descripción</label></div>
                        <div class="col-md-7">
                            {{ tasafactoring.movimiento}}
                            <small class="form-text text-muted">Máximo 60 caracteres</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="id_cxlocalidad" 
                            class=" form-control-label">{{ form.lflat.label}}</label></div>
                        <div class="col-md-7 ">
                            <label class="switch switch-3d switch-success mr-3">
                                <input type="checkbox" class="switch-input" 
                                {% if  tasafactoring.lflat %} checked {% endif %} 
                                id = "id_lflat" name = "lflat"> 
                                <span class="switch-label"></span> 
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-5"><label for="id_cxparticipante" 
                            class=" form-control-label"> {{ form.ndiasperiocidad.label}}</label></div>
                        <div class="col-md-7">
                            {{ form.ndiasperiocidad}}
                            <!-- <small class="form-text text-muted">Máximo 30 caracteres</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-5"><label for="id_cxlocalidad" 
                            class=" form-control-label">{{ form.limprimeenreporte.label}}</label></div>
                        <div class="col-md-7">
                            <label class="switch switch-3d switch-success mr-3">
                                <input type="checkbox" class="switch-input" 
                                {% if  tasafactoring.limprimeenreporte %} checked {% endif %} 
                                id = "id_limprimeenreporte" name = "limprimeenreporte"> 
                                <span class="switch-label"></span> 
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-5"><label for="id_cxparticipante" 
                            class=" form-control-label"> {{ form.ctdescripcionenreporte.label}}</label></div>
                        <div class="col">
                            {{ form.ctdescripcionenreporte}}
                            <!-- <small class="form-text text-muted">Máximo 3 caracteres</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-5"><label for="id_cxparticipante" 
                            class=" form-control-label"> {{ form.ctinicialesentablas.label}}</label></div>
                        <div class="col">
                            {{ form.ctinicialesentablas}}
                            <!-- <small class="form-text text-muted">Máximo 3 caracteres</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-5 "><label for="id_cxlocalidad" 
                            class=" form-control-label">{{ form.lcargaiva.label}}</label></div>
                        <div class="col">
                            <label class="switch switch-3d switch-success mr-3">
                                <input type="checkbox" class="switch-input" 
                                {% if  tasafactoring.lcargaiva %} checked {% endif %} 
                                id = "id_lcargaiva" name = "lcargaiva"> 
                                <span class="switch-label"></span> 
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-5 "><label for="id_cxlocalidad" 
                            class=" form-control-label">{{ form.lsobreanticipo.label}}</label></div>
                        <div class="col">
                            <label class="switch switch-3d switch-success mr-3">
                                <input type="checkbox" class="switch-input" 
                                {% if  tasafactoring.lsobreanticipo %} checked {% endif %} 
                                id = "id_lsobreanticipo" name = "lsobreanticipo"> 
                                <span class="switch-label"></span> 
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>

            </div>    

            <div class="card-footer">
                <a href="{% url 'empresa:listatasasfactoring' %}" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="fa fa-dot-circle-o"></span> Grabar
                </button>
                {{ form.errors}}
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js_page %}{% endblock %}
