{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Extras</a></li>
                    <li><a href="#">Tablas</a></li>
                    <li class="active">Clases de participantes</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
<form  method="post"  class="form-horizontal">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong>Datos</strong> 
                de {% if clase %}  {{ clase }} {% else %}  nueva clase de participante {% endif %} 
            </div>
                {% csrf_token %}
            <div class="card-body card-block">

                    <div class="row form-group">
                        <div class="col-12 col-md-6"><label for="id_cxtipoid" class=" form-control-label">Código</label></div>
                        <div class="col col-md-6">
                            {{ form.cxclase}}
                            <small class="form-text text-muted">Máximo 3 caracteres</small>
                        </div>
                    </div>  

            </div>    

            <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="fa fa-dot-circle-o"></span> Grabar
                    </button>
                    <a href="{% url 'empresa:listaclasesparticipantes' %}" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancelar
                    </a>
                    {{ form.errors}}
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js_page %}{% endblock %}
