{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">configuración</a></li>
                    <li><a href="#">empresa</a></li>
                    <li class="active">Otros cargos</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-body">
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }}</span>
            </h4>

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay tasas de otros cargos.
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                    <thead>
                        <th>Nombre</th>
                        <th>Abreviación</th>
                        <th>Valor</th>
                        <th>Aplica en liquidación de asignación</th>
                        <th>Aplica en liquidación de cobranzas</th>
                        <th>Carga IVA</th>
                        <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ item.otroscargo_movimiento.get.ctabreviacion }}</td>
                            <td>{{ item.otroscargo_movimiento.get.nvalor }}</td>
                            <td>{{ item.otroscargo_movimiento.get.lcargaenliquidacionasignacion|yesno:"Si,No" }}</td>
                            <td>{{ item.otroscargo_movimiento.get.lcargaenliquidacioncobranza|yesno:"Si,No" }}</td>
                            <td>{{ item.otroscargo_movimiento.get.lcargaiva|yesno:"Si,No" }}</td>
                            <td>
                                <a class="btn btn-warning btn-sm"  title="Editar"
                                    {% if item.otroscargo_movimiento.get.nvalor %}
                                        href="{% url 'empresa:otrocargo_editar' item item.id item.otroscargo_movimiento.get.id %}" 
                                    {% else %}
                                        href="{% url 'empresa:otrocargo_nuevo' item item.id %}" 
                                    {% endif %}
                                    role="button">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

