{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">operaciones</a></li>
                    <li><a href="#">cuentas compartidas</a></li>
                    <li><a href="{% url 'cuentasconjuntas:listacobranzasporconfirmar' %}">confirmar cobranzas</a></li>
                    <li class="active">Confirma depósito</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
        <div hidden>
            <input type="text" value={{id_cuenta_conjunta}} id="cuentaconjunta">
        </div>
<form  method="post" id="frmConfirmacion" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <div class="d-flex justify-content-between align-items-center ">
                <h5>Confirmación de cobranza {{cuenta_conjunta}}</h5> 
                <a href="{% url 'cuentasconjuntas:listacobranzasporconfirmar' %}" 
                class="btn  btn-sm">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <!-- cargos -->
            <div class="col-md-6">
                <div class="card"style="border:1px solid #ddd; border-radius:8px; position:relative;box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="card-header">

                        <div class="form-group">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <label for="cargo">Registro de nuevo cargo</label>
                                    <label class="switch switch-3d switch-info ml-3">
                                        <input type="checkbox" class="switch-input" 
                                            name="cargo" id="cargo">
                                        <span class="switch-label"></span> 
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                                <div>
                                    <h6 class="heading-title text-secondary">Débitos pendientes: <span>{{ cuenta_conjunta.debitos_pendientes|floatformat:"2" }}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="div_datos_cargo" hidden>
                        <div class="row form-group">
                            <div class="col-md-4"><label for="id_dcobranza" 
                                class=" form-control-label">
                                {{ form_cargos.dmovimiento.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form_cargos.dmovimiento}}
                            </div>
                        </div>
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_nvalor" class=" form-control-label">
                                {{ form_cargos.nvalor.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form_cargos.nvalor}}
                            </div>
                                
                        </div>
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_nvalor" class=" form-control-label">
                                {{ form_cargos.ctmotivo.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form_cargos.ctmotivo}}
                            </div>
                                
                        </div>

                    </div>
                </div>
                <!-- transferencia -->
                <div class="card"style="border:1px solid #ddd; border-radius:8px; position:relative;box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    <div class="card-header">
                        <div class="form-group">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <label for="transferencia">Registro de transferencia</label>
                                    <label class="switch switch-3d switch-info ml-3">
                                        <input type="checkbox" class="switch-input" checked="true" 
                                            name="transferencia" id="transferencia"> 
                                        <span class="switch-label"></span> 
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="div_datos_transferencia">
                        <div class="row form-group">
                            <div class="col-md-4"><label for="id_dcobranza" 
                                class=" form-control-label">
                                {{ form_transferencias.dmovimiento.label}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="date" name="dmovimiento" 
                                class="form-control" value={% now "Y-m-d" %}
                                required id="id_dtransferencia">
                            </div>
                        </div>
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_nvalor" class=" form-control-label">
                                {{ form_transferencias.nvalor.label}}</label>
                            </div>
                            <div class="col-md-8">
                                <!-- {{ form_transferencias.nvalor}} -->
                                <input type="number" name="nvalor" value="0" 
                                step="1" class="form-control" required 
                                id="id_ntransferencia">
                            </div>                
                        </div>
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_nvalor" class=" form-control-label">
                                {{ form_transferencias.ndevolucion.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form_transferencias.ndevolucion}}
                            </div>                        
                        </div>

                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_nvalor" class=" form-control-label">
                                {{ form_transferencias.cuentadestino.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form_transferencias.cuentadestino}}
                            </div>                        
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info" role="alert">
                    Si no hay cargos que registrar en la cuenta apague el control
                    Registro de nuevo cargo. Si no va a registrar en este momento la 
                    transferencia apague el control Registro de transferencia, siempre
                    podrá registrar la transferencia luego en la opción 
                    Operaciones / Cuentas compartidas / Transferencias.
                </div>

            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">
                <button class="btn btn-secondary btn-sm"  type="button" 
                    onclick="ConfirmarCobranza({{id_operacion}},'{{tipo_operacion}}')">  
                    <i class="fa fa-dot-circle-o"></i> Confirmar
                </button>

            </div>

        </div>

    </div>
 
</form>
{% endblock %}

{% block js_page %}
<script type="text/javascript" 
    src="{% static 'factorweb/js/datosconfirmacioncobranza.js' %}">
</script>
{% endblock %}
