<div class="modal-dialog ">
    <div class="modal-content">

        <form  method="POST" rol="form" id="frmCuentaBancaria" enctype="multipart/form-data" 
            class="form-horizontal" name="form"
            {% if not nueva %}
                action="{% url 'cuentasconjuntas:cuentabancaria_editar' id %}"
            {% else %}
                action="{% url 'cuentasconjuntas:cuentabancaria_nueva' %}"
            {% endif %}
            >
            <!-- columna izquierda -->
            <div class="card">
                {% csrf_token %}
                <div class="card-header">
                    <strong>Detalle de cuenta</strong> 
                </div>
                <div class="card-body">
                    <!-- datos de factura texto y fecha -->
                    <div class="col-12 col-md-9"hidden>
                        <input type="text" id="id_cxparticipante" name="cxparticipante" 
                        value="{{ cliente_id }}" class="form-control" >
                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col col-md-4"><label for="id_cxtipocliente" 
                                class=" form-control-label">
                                {{ form.cxcliente.label}}</label></div>
                            <div class="col-8 col-md-8">
                                {{ form.cxcliente}}
                            </div>
                        </div>  
                        <div class="row form-group">
                            <div class="col col-md-4"><label for="id_cxtipocliente" 
                                class=" form-control-label">
                                {{ form.cxbanco.label}}</label></div>
                            <div class="col-8 col-md-8">
                                {{ form.cxbanco}}
                            </div>
                        </div>  
                        <div class="row form-group">
                            <div class="col col-md-4"><label for="id_cxtipocliente" 
                                class=" form-control-label">
                                {{ form.cxtipocuenta.label}}</label></div>
                            <div class="col-8 col-md-8">
                                {{ form.cxtipocuenta}}
                            </div>
                        </div>  
                        <div class="row form-group">
                            <div class="col col-md-4"><label for="id_cxtipocliente" 
                                class=" form-control-label">
                                {{ form.cxcuenta.label}}</label></div>
                            <div class="col-8 col-md-8">
                                {{ form.cxcuenta}}
                            </div>
                        </div>  
                        <div class="row form-group">
                            <div class="col col-md-4"><label for="id_cxtipocliente" 
                                class=" form-control-label">
                                {{ form.lactiva.label}}</label></div>
                            <div class="col-8 col-md-8">
                                {{ form.lactiva}}
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger btn-sm" 
                        onclick="return CerrarModal()">
                        <i class="fa fa-dot-circle-o"></i> Cerrar
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm ">
                        <i class="fa fa-dot-circle-o"></i> Agregar
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>