{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">operaciones</a></li>
                    <li><a href="#">cuentas compartidas</a></li>
                    <li><a href="{% url 'cuentasconjuntas:listacobranzasporconfirmar' %}">transferencias</a></li>
                    <li class="active">Editar</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
<div class="col-md-8">
<form  method="post" id="frmConfirmacion" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div hidden>
            <input type="text" value={{id_cuenta_conjunta}} id="cuentaconjunta">
        </div>
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <div class="d-flex justify-content-between align-items-center ">
                <h5>Datos de transferencia</h5> 
                <a href="{% url 'cuentasconjuntas:listatransferencias' %}" 
                class="btn  btn-sm">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <!-- cargos -->
                    <div id="div_datos_transferencia">
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_cuentaorigen" class=" form-control-label">
                                {{ form.cuentaorigen.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form.cuentaorigen}}
                            </div>                        
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4"><label for="id_dmovimiento" 
                                class=" form-control-label">
                                {{ form.dmovimiento.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form.dmovimiento}}
                            </div>
                        </div>
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_nvalor" class=" form-control-label">
                                {{ form.nvalor.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form.nvalor}}
                            </div>                
                        </div>
                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_ndevolucion" class=" form-control-label">
                                {{ form.ndevolucion.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form.ndevolucion}}
                            </div>                        
                        </div>

                        <div class="row form-group">
            
                            <div class="col-md-4">
                                <label for="id_cuentadestino" class=" form-control-label">
                                {{ form.cuentadestino.label}}</label>
                            </div>
                            <div class="col-md-8">
                                {{ form.cuentadestino}}
                            </div>                        
                        </div>


                    </div>
        </div>

        <div class="card-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-secondary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Grabar
                </button>
            </div> 

        </div>

    </div>
 
</form>
</div>
{% endblock %}
