{% load filtros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cargos por cartera vencida</title>

    <style type="text/css">
        @page { 
            size: A4;
            margin: 0cm;
            size:  landscape;
        }
        .table thead th {
                vertical-align:  top ;
                border-bottom: 1px solid #000;
        }
        .table td.numero{
            text-align: right;
        }
        .table td.centrado{
            text-align: center;
        }
        .table td.subrayado{
            border-bottom: 1px solid black;
        }
        .alerta { 
        font-family: sans-serif; 
        font-size: 11px; 
        font-weight: 400; 
        color: #eb1111; 
        }        
        body {
            font-family: sans-serif;
            font-size: 09px;
            font-weight: 400;
            color: #000;
        }
        .container{
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table class="table" style="width:100%">
                    <tbody>
                        <tr>
                            <td ><h4>{{ empresa.ctnombre|default:'Nombre de empresa' }}</h4></td>
                            <td class="centrado" ><h3>{{ reporte | default:"CARGOS POR CARTERA" }}</h3></td>
                            <td style="text-align: right;">Impresión: {% now "Y-m-d" %}</td>
                        </tr>
                        <tr>
                            <td ><h4></h4></td>
                            <td class="centrado" ><h3>Corte al {{ fecha_corte |custom_date_format}}</h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover nowrap" style="width:100%">
                        <thead>
                            <th>Cliente</th>        
                            <th>Asignación</th>        
                            <th>Documento</th>
                            <th>Vencimiento</th>
                            <th>Saldo de cartera</th>
                            <th>Días vencidos</th>
                            <th>Saldo anticipado</th>
                            <th>DC negociado</th>
                            <th>DC vencido</th>
                            <th>GAO adicional</th>
                            <th>IVA</th>
                            <th>Deuda</th>
                        </thead>
                        <tbody>
                            <tr></tr>
                            {% regroup detalle by cxtipofactoring__cttipofactoring as cartera_list %}
                            {% for tipo_factoring in cartera_list %}
                            <tr></tr>
                            <tr>
                                <td class="subrayado" colspan="4"><strong>{{ tipo_factoring.grouper }}</strong></td>
                            </tr>
                                {% for item in tipo_factoring.list %}
                                <tr></tr>
                                <tr>
                                    <td>{{ item.cxcliente__cxcliente__ctnombre }}</td>
                                    <td>{{ item.cxasignacion__cxasignacion }}</td>
                                    <td>{{ item.ctdocumento }}</td>
                                    <td>{{ item.dvencimiento |custom_date_format}}</td>
                                    <td class="numero">{{ item.saldo|floatformat:"2g" }}</td>
                                    <td class="numero">{{ item.dias_vencidos }}</td>
                                    <td class="numero">{{ item.saldo_anticipado|floatformat:"2g" }}</td>
                                    <td class="numero">{{ item.dc_negociado|floatformat:"2g" }}</td>
                                    <td class="numero">{{ item.dc_vencido|floatformat:"2g" }}</td>
                                    <td class="numero">{{ item.gao_adicional|floatformat:"2g" }}</td>
                                    <td class="numero">{{ item.iva|floatformat:"2g" }}</td>
                                    <td class="numero">{{ item.deuda|floatformat:"2g" }}</td>
                                </tr>
                                {% endfor %}
                                <tr></tr>
                            {% endfor %}
                            <tr></tr>
                            <tr>
                                <td colspan="5" class="numero"><h4>{{ total_saldo_cartera|floatformat:"2g" }}</h4></td>
                                <td colspan="2" class="numero"><h4>{{ total_saldo_anticipado|floatformat:"2g" }}</h4></td>
                                <td class="numero"><h4>{{ total_dc_negociado|floatformat:"2g" }}</h4></td>
                                <td class="numero"><h4>{{ total_dc_vencido|floatformat:"2g" }}</h4></td>
                                <td class="numero"><h4>{{ total_gao_adicional|floatformat:"2g" }}</h4></td>
                                <td class="numero"><h4>{{ total_iva|floatformat:"2g" }}</h4></td>
                                <td class="numero"><h4>{{ total_deuda|floatformat:"2g" }}</h4></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</body>
</html>