{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">operaciones</a></li>
                    <li><a href="#">procesos</a></li>
                    <li class="active">consulta de pagos</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div hidden>
            <input type="text" value = {{desde | date:"Y-m-d"}} id="id_desde">
            <input type="text" value = {{hasta | date:"Y-m-d"}} id="id_hasta">
        </div>
        <div class="card-body">
            <div class="row form-group ">
                <div class="col-md-1">
                    <label for="fechacorte">Período de movimiento:</label>
                </div>
                <div class="col-md-1">Desde:</div>
                <div class="col-md-2">
                    <input type="date" class="form-control" name="fechadesde"  
                    id="fechadesde" placeholder="Desde" 
                    aria-label="Ingrese fecha inicio" >
                </div>
                <div class="col-md-1">Hasta:</div>
                <div class="col-md-2">
                    <input type="date" class="form-control" name="fechahasta"  
                    id="fechahasta" placeholder="Hasta" 
                    aria-label="Ingrese fecha fin" >
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-sm"  role="button" id="btnFiltrar">  
                        <i class="fa fa-filter"></i> Filtrar
                    </button>
                </div>
                <div class="col-md-1">

                    <div class="dropdown float-right">
                        <button class="btn bg-transparent dropdown-toggle theme-toggle " type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div class="dropdown-menu-content">
                                <a class="dropdown-item" href="#">Imprimir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <small>

                <table id="table"  class="table table-striped table-bordered"
                    data-url="{% url 'operaciones:desembolsos_json' desde hasta %}"
                    data-filter-control="true"
                    data-show-search-clear-button="true"
                    data-show-refresh="true"
                    data-show-fullscreen="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-show-export="true"
                    data-detail-formatter="detailFormatter"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-toolbar="#toolbar"
                    data-id-field="id"
                    data-search="true"
                    data-click-to-select="true"
                    >
                    <thead>
                        <tr>
                        <th data-field="Cliente" data-filter-control="input" data-sortable="true" >Cliente</th>
                        <th data-field="Movimiento" data-filter-control="input"data-sortable="true" >Movimiento</th>
                        <th data-field="Operacion" data-filter-control="input"data-sortable="true" >Operación</th>
                        <th data-field="Registro" data-filter-control="input"data-sortable="true" >Fecha</th>
                        <th data-field="TipoFactoring" data-filter-control="input"data-sortable="true" >Factoring</th>
                        <th data-field="Valor" data-filter-control="input"data-sortable="true" >Valor</th>
                        <th data-field="FormaPago" data-filter-control="input"data-sortable="true" >F. de pago</th>
                        <th data-field="Detalle" data-filter-control="input"data-sortable="true" >Detalle de pago</th>
                        <th data-field="OrigenPago" data-filter-control="input"data-sortable="true" >Cuenta de pago</th>
                        <!-- <th data-field="Estado" data-filter-control="input"data-sortable="true" >Estado</th> -->
                        <!-- <th data-field="operate" data-sortable="true" data-events="window.operateEvents"
                            data-formatter="operateFormatter" data-click-to-select="false">Acción</th>
                        </tr> -->
                    </thead>
                </table>
            </small>

        </div>

    </div>
 
     <!-- 
    data-detail-view="true"
    data-click-to-select="true"
    data-minimum-count-columns="2"
    data-show-toggle="true" 
    data-show-footer="true" 
-->

{% endblock %}

{% block js_page %}
<script type="text/javascript" src="{% static 'factorweb/js/consultageneraldesembolsos.js' %}"></script>
{% endblock %}