{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">cartera</a></li>
                    <li><a href="#">guardados</a></li>
                    <li><a href="{% url 'operaciones:lista_corteshistorico' %}">cortes</a></li>
                    <li class="active">{{corte_historico}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
{% endblock breadcrumbs %}
{% block content %}
<!-- <div class="card bg-flat-color-0">
    <div class="card-body">
        <div class="row form-group ">
            <div class="col-md-1">Corte:</div>
            <div class="col-md-3">
                <select data-placeholder="Seleccione un corte..." 
                    class="form-control"  tabindex="1" 
                    id="corte" name="corte"
                    >
                    <option value=""></option>
                    {% for cuenta in cortes %}
                    <option value="{{ cuenta.id}}" >{{ cuenta}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success btn-sm"  role="button" id="btnFiltrar">  
                    <i class="fa fa-filter"></i> Consultar
                </button>
            </div>

        </div>
    </div>
</div> -->
<div class="content mt-3">
    <!-- totales -->
        <div class="col-md-12 col-lg-12">
            <!-- total cartera y protestos -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <i class="fa fa-dollar bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                            <div class="h5 text-secondary mb-0 mt-1" name="cartera_protestos">
                                {{total_cartera_protestos|floatformat:"2g"}}
                            </div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs small">
                                facturas y protestos</div>
                        </div>
                        <div class="b-b-1 pt-3"></div>
                        <hr>
                        <div class="more-info pt-2" style="margin-bottom:-10px;">
                            <a class="font-weight-bold font-xs btn-block text-muted small" 
                            href="{% url 'operaciones:antigüedad_por_cliente_corte' corte_historico.id %}" 
                            target="cartera_corte" name="cartera_corte" id="linkCarteraCorte">
                            Antigüedad por cliente
                            <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- total de protestos -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left text-light"></i>
                            <div class="h5 text-secondary mb-0 mt-1" name="protestos">
                                {{total_protestos|floatformat:"2g"}}
                            </div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs small">
                                Protestos</div>
                        </div>
                        <div class="b-b-1 pt-3"></div>
                        <hr>
                        <div class="more-info pt-2" style="margin-bottom:-10px;">
                            <a class="font-weight-bold font-xs btn-block text-muted small" 
                            href="{% url 'cobranzas:protestos_pendientes_corte' corte_historico.id %}" target="protestos">
                                Listado de cheques protestados
                            <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- total de cartera -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <i class="fa fa-file bg-primary p-3 font-2xl mr-3 float-left text-light"></i>
                            <div class="h5 text-secondary mb-0 mt-1" name="cartera">
                                {{total_cartera|floatformat:"2g"}}
                            </div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs small">
                                facturas</div>
                        </div>
                        <div class="b-b-1 pt-3"></div>
                        <hr>
                        <div class="more-info pt-2" style="margin-bottom:-10px;">
                            <a class="font-weight-bold font-xs btn-block text-muted small" 
                            href="{% url 'operaciones:detalle_facturas_pendientes_corte' corte_historico.id %}" target="detalle_facturas">
                                Detalle de facturas pendientes
                            <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                        <div class="more-info pt-2" style="margin-bottom:-10px;">
                            <a class="font-weight-bold font-xs btn-block text-muted small" 
                            href="{% url 'operaciones:detalle_cheques_pendientes_corte' corte_historico.id %}"  target="cheques">
                            Detalle de cheques pendientes
                            <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    <!-- <div class="animated fadeIn"> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Antigüedad de la cartera</h4>
                        <canvas id="singelBarChart"></canvas>
                    </div>
                </div>
            </div><!-- /# column -->
        </div>
</div>        
{% endblock %}
{% block js_page %}
<script src="{% static 'factorweb/vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script>
// var $btnFiltrar = jQuery('#btnFiltrar');
// var $linkCarteraCorte = jQuery('#linkCarteraCorte');
const corte = {{ corte_historico.id }}; // Assuming corte_historico is passed to the template

window.onload = function() {
    // // Update the href of "cartera_corte" dynamically
    // $linkCarteraCorte.click(function(event) {
    //     event.preventDefault();
    //     corte = capturaValor("corte");
    //     if (corte) {
    //         window.open("/operaciones/impresionantigüedadcarteracorte/" + corte, "_blank");
    //     } else {
    //         alert("Seleccione un corte antes de continuar.");
    //     }
    // });

    // // boton de refrescar filtro
    // $btnFiltrar.click(function() {
    //     corte = capturaValor("corte");
    //     fetchRecuperar("/operaciones/procesacortehistorico/" + corte, function(data) {
    //         // en data viene el json con los datos de la consulta
    //         x = data.total_cartera_protestos
    //         // cargar x en el div correspondiente
    //         document.querySelector('[name="cartera_protestos"]').innerHTML = x.toLocaleString('es-EC', {minimumFractionDigits: 2, maximumFractionDigits: 2})
    //         // cargar el total de protestos
    //         x = data.total_protestos
    //         // cargar x en el div correspondiente
    //         document.querySelector('[name="protestos"]').innerHTML = x.toLocaleString('es-EC', {minimumFractionDigits: 2, maximumFractionDigits: 2})
    //     });

    // });
        antigüedadcartera("/operaciones/antigüedadcarteracorte/" + corte);
};

function antigüedadcartera(url) {
    // chart antigüedad de la cartera
    fetchRecuperar(url,function(data){
        var ctx = document.getElementById( "singelBarChart" );
        ctx.height = 150;

        if (data["facturas"]){
            v90m = data["facturas"]["fvencido_mas_90"]
            v90 = data["facturas"]["fvencido_90"]
            v60 = data["facturas"]["fvencido_60"]
            v30 = data["facturas"]["fvencido_30"]
            p30 = data["facturas"]["fporvencer_30"]
            p60 = data["facturas"]["fporvencer_60"]
            p90 = data["facturas"]["fporvencer_90"]
            p90m = data["facturas"]["fporvencer_mas_90"]
        }
        else{
            v90m=0;v90=0;v60=0;v30=0; p30=0; p60=0; p90=0; p90m=0
        }

        if (data["accesorios"]){
            av90m = data["accesorios"]["vencido_mas_90"]
            av90 = data["accesorios"]["vencido_90"]
            av60 = data["accesorios"]["vencido_60"]
            av30 = data["accesorios"]["vencido_30"]
            ap30 = data["accesorios"]["porvencer_30"]
            ap60 = data["accesorios"]["porvencer_60"]
            ap90 = data["accesorios"]["porvencer_90"]
            ap90m = data["accesorios"]["porvencer_mas_90"]
        }
        else{
            av90m=0;av90=0;av60=0;av30=0; ap30=0; ap60=0; ap90=0; ap90m=0
        }
        
        if (data["protestos"]){
            pv90m = data["protestos"]["pvencido_mas_90"]
            pv90 = data["protestos"]["pvencido_90"]
            pv60 = data["protestos"]["pvencido_60"]
            pv30 = data["protestos"]["pvencido_30"]
            pp30 = data["protestos"]["pporvencer_30"]
            pp60 = data["protestos"]["pporvencer_60"]
            pp90 = data["protestos"]["pporvencer_90"]
            pp90m = data["protestos"]["pporvencer_mas_90"]
        }
        else{
            pv90m=0;pv90=0;pv60=0;pv30=0; pp30=0; pp60=0; pp90=0; pp90m=0
        }
        
        if (data["pagares"]){
            cv90m = data["pagares"]["vencido_mas_90"]
            cv90 = data["pagares"]["vencido_90"]
            cv60 = data["pagares"]["vencido_60"]
            cv30 = data["pagares"]["vencido_30"]
            cp30 = data["pagares"]["porvencer_30"]
            cp60 = data["pagares"]["porvencer_60"]
            cp90 = data["pagares"]["porvencer_90"]
            cp90m = data["pagares"]["porvencer_mas_90"]
        }
        else{
            cv90m=0;cv90=0;cv60=0;cv30=0; cp30=0; cp60=0; cp90=0; cp90m=0
        }
        
        var myChart = new Chart( ctx, {
            type: 'bar',
            data: {
                labels: [ "v+90", "v90", "v60", "v30", "x30", "x60", "x90", "x+90" ],
                datasets: [
                    {
                        label: "Facturas",
                        data: [ v90m, v90, v60, v30, p30, p60, p90, p90m ],
                        borderColor: "rgba(0, 123, 255, 0.9)",
                        borderWidth: "0",
                        backgroundColor: "rgba(0, 123, 255, 0.5)"
                                },
                    {
                        label: "Accesorios",
                        data: [ av90m, av90, av60, av30, ap30, ap60, ap90, ap90m ],
                        borderColor: "rgba(0, 255, 255, 0.9)",
                        borderWidth: "0",
                        backgroundColor: "rgba(0, 255, 255, 0.5)"
                                },
                    {
                        label: "Protestos",
                        data: [ pv90m, pv90, pv60, pv30, pp30, pp60, pp90, pp90m ],
                        borderColor: "rgba(255, 0, 0, 0.9)",
                        borderWidth: "0",
                        backgroundColor: "rgba(255, 0, 0, 0.5)"
                                },
                    {
                        label: "Reestructuración",
                        data: [ cv90m, cv90, cv60, cv30, cp30, cp60, cp90, cp90m ],
                        borderColor: "rgba(128, 0, 128, 0.9)",
                        borderWidth: "0",
                        backgroundColor: "rgba(128, 0, 128, 0.5)"
                                }
                            ]
            },
            options: {
                scales: {
                    yAxes: [ {
                        ticks: {
                            beginAtZero: true
                        }
                                    } ]
                }
            }
        } );

    })
}    

</script>
{% endblock %}