{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li class="active">Datos operativos</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
<form  method="post" id="frmCliente" enctype="multipart/form-data" class="form-horizontal">
    <div class="col-lg-6">
        <div class="card">
            {% csrf_token %}
            <div class="card-header">
                <strong>Datos operativos</strong> 
                de  {{ nombrecliente }}
            </div>
            <div class="card-body card-block">
                <!-- columna izquierda -->
                <!-- <div class="col-lg-6"> -->
                    
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cxparticipante" 
                            class=" form-control-label">{{form_cliente.dalta.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.dalta}}
                            <!-- <small class="form-text text-muted">Máximo 13 caracteres</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_ctnombre" 
                            class=" form-control-label">{{form_cliente.cxclase.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.cxclase}}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cxlocalidad" 
                            class=" form-control-label">{{form_cliente.nporcentajeanticipo.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.nporcentajeanticipo}}
                            <!-- <small class="form-text text-muted">Máximo 10 caracteres.</small> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_ctdireccion" 
                            class=" form-control-label">{{form_cliente.ntasacomision.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.ntasacomision}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cttelefono2"
                            class=" form-control-label">{{form_cliente.ntasadescuentocartera.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.ntasadescuentocartera}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cttelefono2" 
                            class=" form-control-label">{{form_cliente.ntasagaoa.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.ntasagaoa}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cttelefono2" 
                            class=" form-control-label">{{form_cliente.cxbeneficiarioasignacion.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.cxbeneficiarioasignacion}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cttelefono2" 
                            class=" form-control-label">{{form_cliente.ctbeneficiarioasignacion.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.ctbeneficiarioasignacion}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cttelefono2" 
                            class=" form-control-label">{{form_cliente.cxbeneficiariocobranzas.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.cxbeneficiariocobranzas}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="id_cttelefono2" 
                            class=" form-control-label">{{form_cliente.ctbeneficiariocobranzas.label}}</label></div>
                        <div class="col-md-6">
                            {{form_cliente.ctbeneficiariocobranzas}}
                            <!-- <small class="form-text text-muted">Máximo 60 caracteres.</small> -->
                        </div>
                    </div>

            </div>    
            
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Grabar
                </button>
                <a href="{% url 'operaciones:listadatosoperativos' %}" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Cancelar
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js_page %}
<script type="text/javascript" 
    src="{% static 'factorweb/js/datosoperativos.js' %}">
</script>

{% endblock %}
