<div class="modal-dialog ">
    <div class="modal-content">

        <form  method="POST" rol="form"  name="form"
                action="{% url 'operaciones:modificar_cuota' id %}"
            class="form-horizontal" onsubmit="return checkSubmit();">
            <!-- <div class="col-md-12"> -->
                <div class="card">

                    {% csrf_token %}
                    <div class="card-header">
                        <strong>Datos de la cuota </strong> 
                    </div>
                    
                    <input type="text" id = "id_id"  hidden  value = "{{ id}}" >

                    <div class="card-body card-block">
                        <div class="row form-group">
                            <div class="col-md-3"><label for="id_ddeposito" class=" form-control-label">
                                {{ form.dfechapago.label }}</label></div>
                            <div class="col-md-9">
                                {{ form.dfechapago }}
                            </div>
                        </div>
                    </div>    
                    <div class="card-footer">
                        <button type="buttom" class="btn btn-danger btn-sm" 
                            onclick="return CerrarModal()">
                            <i class="fa fa-dot-circle-o"></i> Cerrar
                        </button>
                        <button id="btnCobrar" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Grabar
                        </button>
                        <!-- <button id="button" class="btn btn-secondary">updateCell</button> -->
                    </div>
                </div>
            <!-- </div> -->
        </form>

    </div>

    <script>
        var enviando = false; //Obligaremos a entrar el if en el primer submit

        // antes de cerrar modal...
        jQuery("form").submit(function(e){

            // actualizar la tabla con los valores del modal
            e.preventDefault();
            var url = jQuery("[name=form]").attr("action");
            var token = jQuery("[name=csrfmiddlewaretoken]").val();
            var formData = jQuery("form").serializeArray();

            jQuery.ajax({
                url:url,
                method:"POST",
                headers: {'X-CSRFToken': token },
                data: formData
            })
            .done(function(r,textStatus,xhr){
                if(r=="OK"){
                    // para que esto funcione la tabla debe tener el siguiente dato
                    // data-unique-id="id"
                    i = capturaValor('id_id');
                    cobro = capturaValor('id_dfechapago');
                    console.log(i, cobro)
                    $table.bootstrapTable('updateByUniqueId', {
                        id: i,
                        row: {
                            Fecha: cobro
                        }
                    });
                    CerrarModal();
                }
                else{
                    MensajeError(r);
                }
            }).fail(function (error) {
                MensajeError(error.responseText);
            });
            

        });

    </script>
</div>