{% load filtros %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facturas pendientes</title>

    <style type="text/css">
        @page { 
            size: A4;
            margin: 1cm;
            size:  portrait;
        }
        .table thead th {
                vertical-align:  top ;
                border-bottom: 1px solid #000;
        }
        .table td.numero{
            text-align: right;
        }
        .table td.centrado{
            text-align: center;
        }
        .table td.subrayado{
            border-bottom: 1px solid black;
        }
        .alerta { 
        font-family: sans-serif; 
        font-size: 11px; 
        font-weight: 400; 
        color: #eb1111; 
        }        
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table >
                    <tbody>
                        <tr>
                            <td colspan="2"><h2>{{ empresa }}</h2></td>
                            <td></td>
                            <td colspan="2"><h1>Listado de facturas pendientes </h1></td>
                            <td></td>
                            <td>Impresión: {% now "Y-m-d" %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover nowrap" style="width:100%">
                        <thead>
                            <th>Cliente/Deudor</th>        
                            <th>Asignación</th>        
                            <th>Documento</th>
                            <th>Vencimiento</th>
                            <th>Días negociados</th>
                            <th>Días vencidos</th>
                            <th>Saldo</th>
                        </thead>
                        <tbody>
                            <tr></tr>
                            {% regroup detalle by cxcliente__cxcliente__ctnombre as cartera_list %}
                            {% for cliente in cartera_list %}
                            <tr>
                                <td class="subrayado" colspan="6"><h3>{{ cliente.grouper }}</h3></td>
                                <td class="subrayado numero"><h3> {{cliente.list|running_saldo }}</h3></td>
                            </tr>
                                {% for item in cliente.list %}
                                <tr></tr>
                                <tr>
                                    <td>{{ item.cxcomprador__cxcomprador__ctnombre }}</td>
                                    <td>{{ item.cxasignacion__cxasignacion }}</td>
                                    <td>{{ item.ctdocumento }}</td>
                                    <td>{{ item.vencimiento |date:"Y-m-d"}}</td>
                                    <td>{{ item.dias_negociados }}</td>
                                    <td> {% if item.ndiasprorroga > 0 %}<h4>{% endif %}
                                        {{ item.dias_vencidos }}
                                        {% if item.ndiasprorroga > 0 %}</h4>{% endif %}
                                    </td>
                                    <td class="numero">{{ item.nsaldo }}</td>
                                </tr>
                                {% endfor %}
                                <tr></tr>
                            {% endfor %}
                            <tr></tr>
                            <tr>
                                <td colspan="7" class="numero"><h4>{{ total }}</h4></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</body>
</html>