{% extends 'bases/home.html' %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Participantes</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li class="active">Datos operativos</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-header" style="background-color: white;">
            <!-- <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle " type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="#">Imprimir</a>
                    </div>
                </div>
            </div> -->
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }} registro{{ consulta.count|pluralize }}</span>
            </h4>

        </div>
        <div class="card-body">

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay clientes registrados.
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-hover table-bordered" 
                    id="bootstrap-data-table-export"
                    data-filter-control="true"
                    >
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="campo1" data-sortable="true" data-filter-control="input">Nombre</th>
                            <!-- <th data-field="campo2" data-sortable="true">Id</th> -->
                            <th data-field="campo3" data-sortable="true" data-filter-control="input">Clase</th>
                            <th data-field="campo4" data-sortable="true" data-filter-control="input">% anticipo</th>
                            <th data-field="campo5" data-sortable="true" data-filter-control="input">Tasa de <br>GAO</th>
                            <th data-field="campo6" data-sortable="true" data-filter-control="input">Tasa de <br>descuento</th>
                            <th data-field="campo7" data-sortable="true" data-filter-control="input">Tasa de GAO <br>adicional</th>
                            <th data-field="campo8" data-sortable="true" data-filter-control="input">Tasa de <br>mora</th>
                            <th data-field="campo9" data-sortable="true" data-filter-control="input">Estado</th>
                            <th data-field="campo10" data-sortable="true" data-filter-control="input">Alta</th>
                            <th data-field="campo11" data-sortable="false">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item }}</td>
                            <!-- <td>{{ item.cxcliente.cxparticipante }}</td> -->
                            <td>{{ item.datos_operativos.get.cxclase }}</td>
                            <td>{{ item.datos_operativos.get.nporcentajeanticipo }}</td>
                            <td>{{ item.datos_operativos.get.ntasacomision }}</td>
                            <td>{{ item.datos_operativos.get.ntasadescuentocartera }}</td>
                            <td>{{ item.datos_operativos.get.ntasagaoa }}</td>
                            <td>{{ item.datos_operativos.get.ntasamora }}</td>
                            <td>{{ item.datos_operativos.get.estado}}</td>
                            <td>{{ item.datos_operativos.get.dalta|date:"Y-m-d" }}</td>
                            <td>
                                <a href="{% url 'operaciones:datosoperativos_editar' item.cxcliente.id %}" 
                                    class="btn  btn-sm" title="Editar" role="button"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'clientes:listadatosoperativoshistorico' item.id %}" 
                                    class="btn  btn-sm" title="Historia" role="button"><i class="fa fa-archive"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

