{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Operaciones</a></li>
                    <li><a href="#">Negociación</a></li>
                    <li class="active">Solicitudes pendientes</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}

<form  method="post" id="frmSolicitud" enctype="multipart/form-data" 
        class="form-horizontal">
    <!-- <div class="col-lg-6"> -->
    <div class="card">
            {% csrf_token %}
        <div class="card-header">
            <strong>Solicitud de factoring</strong> 
            {% if asignacion.id %} de  {{ asignacion.cxcliente }}  
            {% else %}  nueva {% endif %} 
        </div>
        <div class="col-6 col-md-6"hidden>
            <input type="text" 
                id="asignacion_id" 
                name="asignacion_id" 
                value="{{ asignacion.id }}"
                class="form-control">
            <input type="text" 
                id="id_cliente" 
                name="id_cliente" 
                value="{{ asignacion.cxcliente_id }}"
                class="form-control">
            <input type="text" 
                id="id_tipofactoring" 
                name="id_tipofactoring" 
                value="{{ asignacion.cxtipofactoring_id }}"
                class="form-control">
        </div>
        <div class="card-body card-block">
                <!-- lista de clientes -->
            <div class="row form-group">
                <div class="col-md-2"><label for="cxcliente" 
                    class=" form-control-label">
                    {{ form.cxcliente.label}}</label>
                </div>
                <div class="col-md-4">            
                    <select data-placeholder="Seleccione un cliente..." 
                        class="standardSelect" tabindex="1" 
                        id="cliente_id" name="cliente_id"
                        {% if asignacion.id %} disabled {% endif %}
                        >
                        <option value=""></option>
                        {% for cli in clientes %}
                        <option value="{{ cli.id}}" >{{ cli.ctnombre}} </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- tipo de factoring -->
                <div class="col-md-2">
                    <label for="id_cxtipocliente" 
                        class=" form-control-label">
                    {{ form.cxtipofactoring.label}}</label>
                </div>
                <div class="col-md-4">
                    {{ form.cxtipofactoring}}
                </div>
            </div>
                <!-- numero de documentos -->
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="id_cxactividad" 
                            class=" form-control-label">
                        {{form.ncantidaddocumentos.label}}</label>
                    </div>
                    <div class="col-md-1">
                        {{form.ncantidaddocumentos}}
                    </div>
                    <div class="col-md-1">
                        <label for="id_cxactividad" class=" form-control-label">
                        {{form.nvalor.label}}</label>
                    </div>
                    <div class="col-md-2">
                        {{form.nvalor}}
                    </div>
                    <div class="col-md-6">
                        {% if asignacion.id %}
                        <a href="{% url 'solicitudes:documentoconaccesorios_editar' asignacion.id asignacion.cxcliente_id asignacion.cxtipofactoring_id %}"
                        class="btn btn-success btn-sm">
                            <i class="fa fa-ban"></i> Agregar factura
                        </a>
                        {% else %}
                        <button class="btn btn-success btn-sm"  role="button"
                            onclick="return NuevaAsignacion()">  
                            <i class="fa fa-dot-circle-o"></i> Agregar factura
                        </button>
                        {% endif %}
                        <a href="{% url 'solicitudes:listasolicitudes' %}" 
                        class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Cancelar
                        </a>

                    </div>
                </div>
            <!-- parte inferior -->
            <div class="row">
                <div class="col ">
                    <small>

                    <table id="table"                      
                        data-show-columns-toggle-all="true"
                        data-show-export="true"
                        data-detail-formatter="detailFormatter"
                        data-minimum-count-columns="2"
                        data-pagination="true"
                        data-id-field="id"
                        data-page-list="[10, 50, all]"
                        data-show-footer="true"
                        data-side-pagination="server"
                        {% if asignacion.id %} 
                        data-url="{% url 'solicitudes:detallesolicitudconaccesorios' asignacion.id %}"
                        {% endif %} 
                        >
                    </table>
                    </small>

                </div>

            </div>
        </div>    
          
    </div>
    <!-- </div> -->
</form>
{% endblock %}
{% block js_page %}
<script src="{% static 'factorweb/vendors/chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'factorweb/js/datosasignacionconaccesorios.js' %}"></script>
{% endblock %}
