{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Operaciones</a></li>
                    <li><a href="#">negociación</a></li>
                    <li><a href="{% url 'solicitudes:listasolicitudes' %}">solicitudes</a></li>
                    <li class="active">nuevo solicitante</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}

<form  method="post" id="frmCliente" enctype="multipart/form-data" class="form-horizontal">
    <!-- <div class="col-lg-6"> -->
        <div class="card">
            {% csrf_token %}
            <div class="card-header">
                <strong>Ficha general</strong> 
                de {% if datosparticipante %} {{ datosparticipante }} {% else %}  nuevo cliente {% endif %} 
            </div>
            <div class="card-body card-block">
                <!-- columna izquierda -->
                <div class="col-lg-6">
                    <div hidden>
                        {{form.empresa}}
                    </div>
                    
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_cxcliente" class=" form-control-label">{{form.cxcliente.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.cxcliente}}
                            <small class="form-text text-muted">Máximo 13 caracteres</small></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ctnombre" class=" form-control-label">{{form.ctnombre.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.ctnombre}}
                            <small class="form-text text-muted">Máximo 100 caracteres</small></div>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="col col-md-3"><label for="id_cxlocalidad" class=" form-control-label">Localidad</label></div>
                        <div class="col-12 col-md-9">
                            {{form_participante.cxlocalidad}}
                        </div>
                    </div> -->
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ctdireccion" class=" form-control-label">{{form.ctdireccion.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.ctdireccion}}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_cttelefono1" class=" form-control-label">{{form.cttelefono1.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.cttelefono1}}
                            <small class="form-text text-muted">Máximo 30 caracteres. Incluya el área</small></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_cttelefono2" class=" form-control-label">{{form.cttelefono2.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.cttelefono2}}
                            <small class="form-text text-muted">Máximo 30 caracteres. Incluya el área</small></div>
                    </div>

                    <div>
                        <small class="text-danger">

                        {% if form.errors %}
                            {% for field in form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        
                            {% if form.non_field_errors%}
                                {% for error in form.non_field_errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        </small>
                    </div>
                </div>
                <!-- columna derecha -->
                <div class="col-lg-6">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ctcelular" class=" form-control-label">{{form.ctcelular.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.ctcelular}}
                            <small class="form-text text-muted">Máximo 30 caracteres. Incluya el código de país</small></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ctemail" class=" form-control-label">{{form.ctemail.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.ctemail}}
                            <small class="text-muted form-text">Ingrese el email principal</small></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ctemail2" class=" form-control-label">{{form.ctemail2.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.ctemail2}}
                            <small class="text-muted form-text">Ingrese el email secundario</small></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_ctgirocomercial" class=" form-control-label">{{form.ctgirocomercial.label}}</label></div>
                        <div class="col-12 col-md-9">
                            {{form.ctgirocomercial}}
                        </div>
                    </div> 
                            
                </div>
            </div>    
            <div class="card-footer">
                <!-- mostrar los errores del formulario ? -->
     
                <a href="{% url 'solicitudes:listasolicitudes' %}" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Cancelar
                </a>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Grabar
                </button>
            </div>
        </div>
    <!-- </div> -->
</form>
{% endblock %}
{% block js_page %}
<script>
    // la que esta en la plantilla home copiarla a esta forma
    var x = capturaValor("empresa_id")
    inicializaValor("id_empresa", x)
z
</script>
{% endblock %}
