<div class="modal-dialog ">
    <div class="modal-content">

        <form  method="POST" rol="form" class="form-horizontal" name="form"
            action="{% url 'solicitudes:instruccion_de_pago' pk %}"
            onsubmit="return checkSubmit();">
            <!-- <div class="col"> -->
            <div class="card">
                {% csrf_token %}
                <div class="card-header">
                    <strong>Datos de la liquidación </strong> 
                </div>
                
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="id_nvalor" class=" form-control-label">{{ form.ctinstrucciondepago.label}}</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form.ctinstrucciondepago}}
                        </div>
                    </div>

                </div>    
                
                <div class="card-footer">
                    <button type="button" class="btn btn-danger btn-sm" 
                        onclick="return CerrarModal()">
                        <i class="fa fa-ban"></i> Cerrar
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Grabar
                    </button>
                </div>
            </div>
            <!-- </div> -->
        </form>

    </div>
</div>


<!-- {% block js_page %} -->
<script>
     enviando = false; //Obligaremos a entrar el if en el primer submit
     
</script>
<!-- {% endblock %} -->