{% extends 'bases/home.html' %}
{% load static %}
{% block breadcrumbs %}
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Configuración</a></li>
                    <li><a href="#">empresa</a></li>
                    <li class="active">filtros de aprobación</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block content %}
    <div class="card bg-flat-color-0">
        <div class="card-body">
            <div class="dropdown float-right">
                <button class="btn bg-transparent dropdown-toggle theme-toggle " 
                    {% if user.usuario_empresa.get.empresa.lbloqueada %} disabled {% endif %}
                    type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="{% url 'solicitudes:nivelaprobacion_nuevo' %}">Nuevo</a>
                    </div>
                </div>
            </div>
            <h4 class="mb-0">
                <span class="count">{{ consulta.count }}</span>
            </h4>

            {% if not consulta %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Sin registros</span>
                {% if error %}
                    {{ error }}
                {% else %}
                 No hay niveles de aprobación registrados
               {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endif %}

            <!-- <div class="content"> -->

                <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                    <thead>
                        <th>Registro</th>
                        <th>Monto desde</th>
                        <!-- <th>Cantidad de aprobadores</th> -->
                        <th>Configuración slack</th>
                        <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                        {% for item in consulta %}
                        <tr>
                            <td>{{ item.dregistro|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ item.nmontominimo }}</td>
                            <!-- <td>{{ item.naprobadores }}</td> -->
                            <td>{{ item.configuracionslack }}</td>
                            <td>
                                <a href="{% url 'solicitudes:nivelaprobacion_editar' item.id %}" title="Editar"
                                    class="btn btn-warning btn-sm" role="button"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- </div> -->

        </div>

    </div>
 

{% endblock %}

{% block js_page %}
<!-- <script>
// Call the dataTables jQuery plugin
jQuery(document).ready(function() {
  jQuery('.table').DataTable({
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left'></span>",
          "sLast": "<span class='fa fa-angle-double-right'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    }
  });
});
</script> -->
{% endblock %}
